<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">綜觀頁</div>
                <a class="nav-link" href="/index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    智慧儀表板</a>
                <div class="sb-sidenav-menu-heading">圖表頁</div>
                <a class="nav-link" href="/charts/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    分析圖</a>
                <a class="nav-link" href="/tables/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    表格頁</a>
                <a class="nav-link" href="/info_slide/">
                    <div class="sb-nav-link-icon"><i class="far fa-file-alt"></i></div>
                    商品資訊頁</a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Present by:</div>
            Aiot第二組
        </div>
    </nav>
</div>