
<nav class="d-flex justify-content-between sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">智能倉管</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
</nav>