<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        {% include "header.html" with title="圖示頁" %}
    </head>
    <body class="sb-nav-fixed">
        {% include "bar-top.html" %}
        <div id="layoutSidenav">
            {% include "bar-side.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">分析圖</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="/index/">智慧儀表板</a></li>
                                <li class="breadcrumb-item active"><a href="/charts/">圖示頁</a></li>
                            </ol>
                        <div class="card mb-4">
                            <div class="card-body">圖表化庫存相關數據，提升決策力。</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>營業額曲線圖</div>
                                    <div class="card-body" style="padding: 6px 6px 6px 6px;"><canvas id="myAreaChart_Earn" width="100%" height="50"></canvas></div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>類別營業額圖</div>
                                    <div class="card-body">
                                        <div class="card-body" style="padding: 6px 6px 6px 6px;"><canvas id="myBarChart2" width="100%" height="50"></canvas></div>
                                    </div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>營業毛利直條圖</div>
                                    <div class="card-body" style="padding: 6px 6px 6px 6px;" ><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>暢銷品佔比圖</div>
                                    <div class="card-body" style="padding: 6px 6px 6px 6px;" ><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </main>
                {% include "bar-footer.html" %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
    <script>
        
        
    </script>
    <script>
        $.ajax({
            url:"https://spreadsheets.google.com/feeds/list/1MzuZYlMKzhOyz7E46FQ-AbjkJ-614AVfp_WQtaEpats/4/public/values?alt=json",
            data:"",
            dataType:"json",
            success: function (data){
                var data_sheetAPI = data.feed.entry;
                var items_API = [];
                for (var i in data_sheetAPI){
                    var item = {};
                    item.year = data_sheetAPI[i].gsx$year.$t;
                    item.month = data_sheetAPI[i].gsx$month.$t;
                    // item.name = data_sheetAPI[i].gsx$name.$t;
                    item.sellnum = data_sheetAPI[i].gsx$sellnum.$t;
                    item.earn = data_sheetAPI[i].gsx$earn.$t;
                    item.buynum = data_sheetAPI[i].gsx$buynum.$t;
                    item.pay = data_sheetAPI[i].gsx$pay.$t;
                    item.monstorage = data_sheetAPI[i].gsx$monstorage.$t;
                    item.cost = data_sheetAPI[i].gsx$cost.$t;
                    item.profit = data_sheetAPI[i].gsx$profit.$t;
                    items_API.push(item);
                };
                // 營業額曲線圖=============================================================
                var chart_earn =[];
                for(let i = 0; i < items_API.length; i++){
                    chart_earn.push(items_API[i]["earn"]);
                }
                var ctx = document.getElementById("myAreaChart_Earn");
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                        datasets: [{
                        label: "營業額",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        data: chart_earn,
                    }],
                    options: {
                        scales: {
                        xAxes: [{
                            time: {
                            unit: 'date'
                            },
                            gridLines: {
                            display: false
                            },
                            ticks: {
                            maxTicksLimit: 12
                            }
                        }],
                        yAxes: [{
                            ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 5
                            },
                            gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                        },
                        legend: {
                        display: false
                        }
                    }
                }
                });
                // 營業毛利率直條圖=============================================================
                var chart_profit =[];
                for(let i = 0; i < items_API.length; i++){
                    chart_profit.push(items_API[i]["profit"]);
                }
                // Bar Chart Example
                var ctx = document.getElementById("myBarChart");
                var myLineChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                        datasets: [{
                        label: "營業毛利",
                        backgroundColor: "rgba(2,117,216,1)",
                        borderColor: "rgba(2,117,216,1)",
                        data: chart_profit,
                    }],
                    options: {
                        scales: {
                            xAxes: [{
                                time: {
                                unit: 'month'
                                },
                                gridLines: {
                                display: false
                                },
                                ticks: {
                                maxTicksLimit: 12
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                min: 0,
                                max: 1000000,
                                maxTicksLimit: 5
                                },
                                gridLines: {
                                display: true
                                }
                            }],
                        },
                        legend: {
                            display: false
                        }
                    }
                }
                });
                // =================================================================
            }
        });
    </script>
    <script>
        // Bar Chart Example
        var ctx2 = document.getElementById("myBarChart2");
        var myLineChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
            datasets: [
            {
            label: "手拿包",
            backgroundColor: "rgba(0,51,119,1)",
            borderColor: "rgba(2,117,216,1)",
            data: [4215, 5312, 6251, 7841, 9821, 9984],
            },
            {
                label: "郵差包",
                backgroundColor: "rgba(0,136,168,1)",
                borderColor: "rgba(2,117,216,1)",
                data: [3214,5214,2365,2463,4365,6321],
            },
            {
                label: "郵差包",
                backgroundColor: "rgba(0,255,255,1)",
                borderColor: " rgba(0,178,113,1)",
                data: [4521,1023,2869,2754,2165,3521],
            },
            {
                label: "郵差包",
                backgroundColor: "rgba(255,255,0,1)",
                borderColor: "rgba(2,117,216,1)",
                data: [3985,2814,6541,4643,3655,1321],
            },
            {
                label: "郵差包",
                backgroundColor: "rgba(255,204,34,1)",
                borderColor: "rgba(2,117,216,1)",
                data: [3245,2414,2995,3463,4365,1321],
            },
            ],
        },
        options: {
            scales: {
            xAxes: [{
                time: {
                unit: 'month'
                },
                gridLines: {
                display: false
                },
                ticks: {
                maxTicksLimit: 12
                }
            }],
            yAxes: [{
                ticks: {
                min: 0,
                max: 12000,
                maxTicksLimit: 5
                },
                gridLines: {
                display: true
                }
            }],
            },
            legend: {
            display: false
            }
        }
        });
    </script>
</html>