<!DOCTYPE html>
<html lang="zh-Hant-TW">
    {% load static %}
    <head>
        {% include "header.html" with title="智能倉管" %}
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    </head>
    <body class="sb-nav-fixed">
        {% include "bar-top.html" %}
        <div id="layoutSidenav">
            {% include "bar-side.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">智慧儀表板</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/index/">智慧儀表板</a></li>
                        </ol> 
                        <div class="row">
                            <div class="col-xl-4">
                                {% include "map.html" %}
                            </div>
                            <div class="col-xl-8">
                                <div class='row'>
                                    <div class="btn-group" data-toggle="buttons">
                                        <button type="button" class="btn btn-info" id="option1" class="active">熱銷商品
                                        </button>
                                        <button type="button" class="btn btn-success" id="option2">庫存穩定商品
                                        </button>
                                        <button type="button" class="btn btn-warning" id="option3">庫存緊張商品
                                        </button>
                                        <button type="button" class="btn btn-danger" id="option4">庫存短缺商品
                                        </button>
                                    </div>
                                        <div class="d-flex bd-highlight card bg-primary text-white mb-4">
                                            <div class="card-body">熱銷商品</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="/tables/goods_hot/">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                        <div class="d-flex bd-highlight card bg-success text-white mb-4">
                                            <div class="card-body">庫存穩定商品</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="/tables/goods_stable/">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                        <div class="d-flex bd-highlight card bg-warning text-white mb-4">
                                            <div class="card-body">庫存緊張商品</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="/tables/goods_few/">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                        <div class="d-flex bd-highlight card bg-danger text-white mb-4">
                                            <div class="card-body">庫存短缺商品</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="/tables/goods_lack/">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card mb-4">
                                            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>毛利率曲線圖</div>
                                            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            
                        </div>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>月結算表</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>年度</th>
                                                <th>月份</th>
                                                <th>營業額</th>
                                                <th>毛利</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% include "bar-footer.html" %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>