<!DOCTYPE html>
<html lang="zh-Hant-TW">
    {% load static %}
    <head>
        {% include "header.html" with title="智能倉管" %}
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    </head>
    <body class="sb-nav-fixed">
        {% include "bar-top.html" %}
        <div id="layoutSidenav">
            {% include "bar-side.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">智慧儀表板</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/index/">智慧儀表板</a></li>
                        </ol> 
                        <div class="row">
                            <div class="col-md-5 col-xl-4">
                                <div class="card">
                                    <div class="card-header"><i class="fas fa-dollar-sign"></i>今日訂單處理進度</div>
                                    <div class="d-flex">
                                        <div class="p-2 flex-fill align-items-center text-center">訂購單量
                                            <div class="font-weight-bold" style="font-size: xx-large;">20</div>
                                        </div>
                                        <div class="p-2 flex-fill align-items-center text-center">出貨單量
                                            <div class="font-weight-bold" style="font-size: xx-large;">16</div>
                                        </div>
                                        <div class="p-2 flex-fill align-items-center text-center">訂單完成率
                                            <div class="font-weight-bold" style="font-size: xx-large;">80%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">{% include "map.html" %}</div>
                            </div>
                            <div class="col-md-7 col-xl-8">
                                <div class="row">
                                    <div class="card bg-secondary text-white flex-fill align-items-center">
                                        <div class="p-2 card-body text-white stretched-link" type="button" data-toggle="collapse" data-target="#zero" aria-expanded="true" aria-controls="zero" href="#">系統訊息</div>
                                    </div>
                                    <div class="card text-white flex-fill align-items-center" style="background-color: #FF6666;">
                                        <!-- bg-danger  -->
                                        <div class="p-2 card-body text-white stretched-link" type="button" data-toggle="collapse" data-target="#four" aria-expanded="false" aria-controls="four" href="#">庫存短缺</div>
                                    </div>
                                    <div class="card text-white flex-fill align-items-center" style="background-color: #fdc064;">
                                        <!-- bg-warning  -->
                                        <div class="p-2 card-body text-white stretched-link" type="button" data-toggle="collapse" data-target="#three" aria-expanded="false" aria-controls="three" href="#">庫存訊息</div>
                                    </div>
                                    <div class="card text-white flex-fill align-items-center" style="background-color: #86a873;">
                                        <!-- bg-info  -->
                                        <div class="p-2 card-body text-white stretched-link" type="button" data-toggle="collapse" data-target="#first" aria-expanded="true" aria-controls="first" href="#">毛利率</div>
                                    </div>
                                    <div class="card text-white flex-fill align-items-center" style="background-color: #247ba0;">
                                        <!-- bg-success  -->
                                        <div class="p-2 card-body text-white stretched-link" type="button" data-toggle="collapse" data-target="#two" aria-expanded="false" aria-controls="two" href="#">暢銷品佔比圖</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="accordion card flex-fill d-flex" id="accordionTable">
                                        <div id="zero" class="collapse show" aria-labelledby="zero" data-parent="#accordionTable">
                                            <div class="card">
                                                <div class="card-header"><i class="fas fa-exclamation-circle"></i>庫存訊息</div>
                                                <div class="card-body">部分商品數量低於安全庫存。</div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header"><i class="fas fa-th-list"></i>未處理訂單</div>
                                                <ul class="list-group">
                                                    <li class="list-group-item py-2 d-flex align-items-center">
                                                        <div class="p-2 flex-grow-1">未處理訂單1</div>
                                                        <div class="p-2" type="button" class="newopen" aria-label="newopen"><span aria-hidden="true"><i class="fas fa-external-link-alt"></i></span>
                                                        </div>
                                                        <div class="p-2" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item py-2 d-flex align-items-center">
                                                        <div class="p-2 flex-grow-1">未處理訂單2</div>
                                                        <div class="p-2" type="button" class="newopen" aria-label="newopen" href="#"><span aria-hidden="true"><i class="fas fa-external-link-alt"></i></span>
                                                        </div>
                                                        <div class="p-2" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card">
                                                <div class="card-header"><i class="fas fa-th-list"></i>採購中訂單</div>
                                                <ul class="list-group">
                                                    <li class="list-group-item py-2 d-flex align-items-center">
                                                        <div class="p-2 flex-grow-1">採購中訂單1</div>
                                                        <div class="p-2" type="button" class="newopen" aria-label="newopen" href="#"><span aria-hidden="true"><i class="fas fa-external-link-alt"></i></span>
                                                        </div>
                                                        <div class="p-2" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item py-2 d-flex align-items-center">
                                                        <div class="p-2 flex-grow-1">採購中訂單2</div>
                                                        <div class="p-2" type="button" class="newopen" aria-label="newopen" href="#"><span aria-hidden="true"><i class="fas fa-external-link-alt"></i></span>
                                                        </div>
                                                        <div class="p-2" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="first" class="collapse" aria-labelledby="first" data-parent="#accordionTable" key-data={{data}}>
                                            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>毛利率曲線圖</div>
                                            <div class="card-body"><canvas id="myAreaChart_margin" width="100%" height="40"></canvas></div>
                                        </div>
                                        <div id="two" class="collapse" aria-labelledby="two" data-parent="#accordionTable">
                                            <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>暢銷品佔比圖</div>
                                            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                        </div>
                                        <div id="three" class="collapse" aria-labelledby="three" data-parent="#accordionTable">
                                            <div class="card">
                                                <div class="card-header"><i class="fas fa-th-list"></i>庫存緊張</div>
                                                <ul class="list-group d-flex flex-wrap flex-row">
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="four" class="collapse" aria-labelledby="four" data-parent="#accordionTable">
                                            <div class="card-header"><i class="fas fa-th-list"></i>庫存短缺</div>
                                            <ul class="list-group d-flex flex-wrap flex-row">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>月結算表</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable_moncount" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>年度</th>
                                                <th>月份</th>
                                                <th>營業額</th>
                                                <th>毛利</th>
                                                <th>毛利率</th>
                                                <th>備註</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% include "bar-footer.html" %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
    <!-- 毛利率曲線圖 -->
    <script>
        $.ajax({
            url:"https://spreadsheets.google.com/feeds/list/1MzuZYlMKzhOyz7E46FQ-AbjkJ-614AVfp_WQtaEpats/4/public/values?alt=json",
            data:"",
            dataType:"json",
            success: function (data){
                var data_sheetAPI = data.feed.entry;
                var items_API = [];
                for (var i in data_sheetAPI){
                    var item = {};
                    item.year = data_sheetAPI[i].gsx$year.$t;
                    item.month = data_sheetAPI[i].gsx$month.$t;
                    // item.name = data_sheetAPI[i].gsx$name.$t;
                    item.sellnum = data_sheetAPI[i].gsx$sellnum.$t;
                    item.earn = data_sheetAPI[i].gsx$earn.$t;
                    item.buynum = data_sheetAPI[i].gsx$buynum.$t;
                    item.pay = data_sheetAPI[i].gsx$pay.$t;
                    item.monstorage = data_sheetAPI[i].gsx$monstorage.$t;
                    item.cost = data_sheetAPI[i].gsx$cost.$t;
                    item.profit = data_sheetAPI[i].gsx$profit.$t;
                    items_API.push(item);
                };
                var chart_earn =[];
                var chart_profit =[];
                var chart_pa =[];
                for(let i = 0; i < items_API.length; i++){
                    chart_earn.push(items_API[i]["earn"]);
                    chart_profit.push(items_API[i]["profit"]);
                    chart_pa.push(items_API[i]["profit"]/items_API[i]["earn"]);
                }
                // Area Chart Example
                var ctx2 = document.getElementById("myAreaChart_margin");
                var myLineChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                    datasets: [{
                    label: "毛利率",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(2,117,216,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(2,117,216,1)",
                    pointHitRadius: 50,
                    pointBorderWidth: 2,
                    data: chart_pa,
                }],
                options: {
                    scales: {
                        xAxes: [{
                            time: {
                            unit: 'date'
                            },
                            gridLines: {
                            display: false
                            },
                            ticks: {
                            maxTicksLimit: 12
                            }
                        }],
                        yAxes: [{
                            ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 5
                            },
                            gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                    }
                }
                });
                // $('#dataTable_moncount').DataTable();
            }
        });
    </script>
    <!-- End 毛利率曲線圖 -->
    <!-- 月結算表格 -->
    <script>
        $(document).ready(function() {
            $.ajax({
                url:"https://spreadsheets.google.com/feeds/list/1MzuZYlMKzhOyz7E46FQ-AbjkJ-614AVfp_WQtaEpats/2/public/values?alt=json",
                data:"",
                dataType:"json",
                success:function (data){
                    var data_sheetAPI = data.feed.entry;
                    var items_API = [];
                    for (var i in data_sheetAPI){
                        var item = {};
                        item.year = data_sheetAPI[i].gsx$year.$t;
                        item.month = data_sheetAPI[i].gsx$month.$t;
                        item.name = data_sheetAPI[i].gsx$name.$t;
                        item.sellnum = data_sheetAPI[i].gsx$sellnum.$t;
                        item.earn = data_sheetAPI[i].gsx$earn.$t;
                        item.buynum = data_sheetAPI[i].gsx$buynum.$t;
                        item.pay = data_sheetAPI[i].gsx$pay.$t;
                        item.monstorage = data_sheetAPI[i].gsx$monstorage.$t;
                        item.cost = data_sheetAPI[i].gsx$cost.$t;
                        item.profit = data_sheetAPI[i].gsx$profit.$t;
                        items_API.push(item);
                    };
                    let tableDOM_Earn;
                    let tableDOM_Gout;
                    let tableDOM_Gin;
                    let timestamp = Date.now();
                    let date = new Date(timestamp);
                    let month_now = date.getMonth()+1;
                    // dataValues = [
                    //     date.getFullYear(),
                    //     date.getMonth()+1,
                    //     date.getDate(),
                    //     date.getHours(),
                    //     date.getMinutes(),
                    //     date.getSeconds(),
                    // ];
                    let test = 0;
                    let sum_earn = 0;
                    let sum_cost = 0;
                    let sum_profit = 0;
                    let earn_array = [];
                    let cost_array = [];
                    let profit_array = [];
                    let tableOB = {
                        "earn": {},
                        "cost": {},
                        "profit": {},
                    };
                    for(let i = 0; i < items_API.length; i++){
                        let items = items_API[i];
                        let earn = Number(items["earn"]);
                        let cost = Number(items["cost"]);
                        let profit = Number(items["profit"]);
                        // let sum_pa;
                        let items_month = Number(items["month"]);
                            
                        if(items_month <= month_now){

                            if(items_month == test){
                                sum_earn += earn;
                                sum_cost += cost;
                                sum_profit += profit;
                            }
                            else if (items_month > test) {
                                test++;
                                sum_earn = earn;
                                sum_cost = cost;
                                sum_profit = profit;
                                earn_array = [];
                                cost_array = [];
                                profit_array = [];
                            }
                            earn_array.push(sum_earn);
                            cost_array.push(sum_cost);
                            profit_array.push(sum_profit);
                            tableOB["earn"][test] = earn_array[earn_array.length -1];
                            tableOB["cost"][test] = cost_array[cost_array.length -1];
                            tableOB["profit"][test] = profit_array[profit_array.length -1];
                            
                        }
                    }
                    for (let i = 1; i < month_now+1; i++){
                        let pa = tableOB["profit"][i]/tableOB["earn"][i]*100;
                        tableDOM_Earn = `<tr><td>${item.year}</td><td>${i}</td><td>${tableOB["earn"][i]}</td><td>${tableOB["profit"][i]}</td><td>${pa.toFixed(2)}%</td><td></td></tr>`;
                        $("#dataTable_moncount tbody").append(tableDOM_Earn);
                    }
                    
                $('#dataTable_moncount').DataTable();
                }
            });
        });
    </script>
    <!-- End 月結算表格 -->
    <!-- 庫存狀況清單 -->
    <script>
        $(document).ready(function() {
            $.ajax({
                url:"https://spreadsheets.google.com/feeds/list/1MzuZYlMKzhOyz7E46FQ-AbjkJ-614AVfp_WQtaEpats/3/public/values?alt=json",
                data:"",
                dataType:"json",
                success:function (data){
                    var data_sheetAPI_storge = data.feed.entry;
                    var items_API_storge = [];
                    for (var i in data_sheetAPI_storge){
                        var item = {};
                        item.nowstoragename = data_sheetAPI_storge[i].gsx$nowstoragename.$t;
                        item.nowstorage = data_sheetAPI_storge[i].gsx$nowstorage.$t;
                        item.sellnum = data_sheetAPI_storge[i].gsx$sellnum.$t;
                        item.safestoragem = data_sheetAPI_storge[i].gsx$safestoragem.$t;
                        item.lackortight = data_sheetAPI_storge[i].gsx$lackortight.$t;
                        item.inprice = data_sheetAPI_storge[i].gsx$inprice.$t;
                        item.outprice = data_sheetAPI_storge[i].gsx$outprice.$t;
                        item.areastorage = data_sheetAPI_storge[i].gsx$areastorage.$t;
                        items_API_storge.push(item);
                    };
                    let List_lack;
                    for(let i = 0; i < items_API_storge.length; i++){
                        if(items_API_storge[i]["lackortight"]=="lack"){
                            let items = items_API_storge[i];
                            List_lack = `\
                            <li class="list-group-item py-2 col-sm-6 col-12 d-flex justify-content-between align-items-center">\
                            ${items["nowstoragename"]}
                            <ol class="breadcrumb" style="top:0;">\
                            <li class="breadcrumb-item badge-danger badge-pill">${items["nowstorage"]}</li>\
                            <li class="breadcrumb-item"></li>\
                            <li class="badge-primary badge-pill">${items["safestoragem"]}</li>\
                            </ol>\
                            </li>`;
                            $("#four .list-group").append(List_lack);
                        }
                    }
                    let List_tight;
                    for(let i = 0; i < items_API_storge.length; i++){
                        if(items_API_storge[i]["lackortight"]=="tight"){
                            let items = items_API_storge[i];
                            List_tight = `\
                            <li class="list-group-item py-2 col-sm-6 col-12 d-flex justify-content-between align-items-center">\
                            ${items["nowstoragename"]}
                            <ol class="breadcrumb" style="top:0;">\
                            <li class="breadcrumb-item badge-warning badge-pill">${items["nowstorage"]}</li>\
                            <li class="breadcrumb-item"></li>\
                            <li class="badge-primary badge-pill">${items["safestoragem"]}</li>\
                            </ol>\
                            </li>`;
                            $("#three .list-group").append(List_tight);
                        }
                    }
                    var Pie_name =[];
                    var Pie_hotsell =[];
                    for(let i = 0; i < items_API_storge.length; i++){
                        let items = items_API_storge[i];
                        Pie_name.push(items[i]["nowstoragename"]);
                        Pie_hotsell.push(items[i]["sellnum"]);                        
                    }
                    console.log()
                    
                }
            });
        });
    </script>
    <!-- End 庫存狀況清單 -->
</html>