<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        {% include "header.html" with title="表格頁" %}
    </head>
    <body class="sb-nav-fixed">
        {% include "bar-top.html" %}
        <div id="layoutSidenav">
            {% include "bar-side.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">資料表</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/index/">智慧儀表板</a></li>
                            <li class="breadcrumb-item active"><a href="/tables/">表格頁</a></li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body"><ul>
                                <li>進貨表：進貨之貨品名稱、進貨日期、數量、單價及進貨總價。</li>
                                <li>出貨表：出貨之貨品名稱、出貨日期、數量、單價及出貨總價。</li>
                                <li>結算表：年度各月份之營業額、銷貨成本及毛利。</li>
                            </ul></div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="card mb-4">
                            <div class="dropdown">
                                <div class="card-header"><i class="fas fa-table mr-1 dropdown"></i>
                                    <a class="dropdown-toggle" data-toggle="dropdown">表格選單</a>
                                    <ul class="dropdown-menu">
                                        <li><a id='test123' class="collapsed" href="/tables/" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">進貨表</a></li>
                                        <li><a class="collapsed" href="/tables/" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">出貨表</a></li>
                                        <li class="divider"></li>
                                        <li><a class="collapsed" href="/tables/" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">結算表</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable_Gin" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>貨品名稱</th>
                                                        <th>進貨日期</th>
                                                        <th>進貨數量</th>
                                                        <th>進貨單價</th>
                                                        <th>進貨總價</th>
                                                        <th>備註</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for gin in goodsin_list %}
                                                    <tr>
                                                        <td>{{gin.name}}</td>
                                                        <td>{{gin.time}}</td>
                                                        <td>{{gin.num}}</td>
                                                        <td>{{gin.price}}</td>
                                                        <td>{{gin.sum}}</td>
                                                        <td></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable_Gout" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>貨品名稱</th>
                                                        <th>出貨日期</th>
                                                        <th>出貨數量</th>
                                                        <th>出貨單價</th>
                                                        <th>出貨總價</th>
                                                        <th>備註</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for gout in goodsout_list %}
                                                    <tr>
                                                        <td>{{gout.name}}</td>
                                                        <td>{{gout.time}}</td>
                                                        <td>{{gout.num}}</td>
                                                        <td>{{gout.price}}</td>
                                                        <td>{{gout.sum}}</td>
                                                        <td></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">    
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable_Earn" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>年度</th>
                                                        <th>月份</th>
                                                        <th>營業額</th>
                                                        <th>銷貨成本</th>
                                                        <th>毛利</th>
                                                        <th>毛利率</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                </tfoot>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% include "bar-footer.html" %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
    <script>
        $(document).ready(function() {
            $.ajax({
                url:"https://spreadsheets.google.com/feeds/list/1MzuZYlMKzhOyz7E46FQ-AbjkJ-614AVfp_WQtaEpats/2/public/values?alt=json",
                data:"",
                dataType:"json",
                success:function (data){
                    var data_sheetAPI = data.feed.entry;
                    var items_API = [];
                    for (var i in data_sheetAPI){
                        var item = {};
                        item.year = data_sheetAPI[i].gsx$year.$t;
                        item.month = data_sheetAPI[i].gsx$month.$t;
                        item.name = data_sheetAPI[i].gsx$name.$t;
                        item.sellnum = data_sheetAPI[i].gsx$sellnum.$t;
                        item.earn = data_sheetAPI[i].gsx$earn.$t;
                        item.buynum = data_sheetAPI[i].gsx$buynum.$t;
                        item.pay = data_sheetAPI[i].gsx$pay.$t;
                        item.monstorage = data_sheetAPI[i].gsx$monstorage.$t;
                        item.cost = data_sheetAPI[i].gsx$cost.$t;
                        item.profit = data_sheetAPI[i].gsx$profit.$t;
                        items_API.push(item);
                    };
                    let tableDOM_Earn;
                    let tableDOM_Gout;
                    let tableDOM_Gin;
                    let timestamp = Date.now();
                    let date = new Date(timestamp);
                    let month_now = date.getMonth()+1;
                    // dataValues = [
                    //     date.getFullYear(),
                    //     date.getMonth()+1,
                    //     date.getDate(),
                    //     date.getHours(),
                    //     date.getMinutes(),
                    //     date.getSeconds(),
                    // ];
                    let test = 0;
                    let sum_earn = 0;
                    let sum_cost = 0;
                    let sum_profit = 0;
                    let earn_array = [];
                    let cost_array = [];
                    let profit_array = [];
                    let tableOB = {
                        "earn": {},
                        "cost": {},
                        "profit": {},
                    };
                    for(let i = 0; i < items_API.length; i++){
                        let items = items_API[i];
                        let earn = Number(items["earn"]);
                        let cost = Number(items["cost"]);
                        let profit = Number(items["profit"]);
                        // let sum_pa;
                        let items_month = Number(items["month"]);
                            
                        if(items_month <= month_now){

                            if(items_month == test){
                                sum_earn += earn;
                                sum_cost += cost;
                                sum_profit += profit;
                            }
                            else if (items_month > test) {
                                test++;
                                sum_earn = earn;
                                sum_cost = cost;
                                sum_profit = profit;
                                earn_array = [];
                                cost_array = [];
                                profit_array = [];
                            }
                            earn_array.push(sum_earn);
                            cost_array.push(sum_cost);
                            profit_array.push(sum_profit);
                            tableOB["earn"][test] = earn_array[earn_array.length -1];
                            tableOB["cost"][test] = cost_array[cost_array.length -1];
                            tableOB["profit"][test] = profit_array[profit_array.length -1];
                            
                        }
                    }
                    for (let i = 1; i < month_now+1; i++){
                        let pa = tableOB["profit"][i]/tableOB["earn"][i]*100;
                        tableDOM_Earn = `<tr><td>${item.year}</td><td>${i}</td><td>${tableOB["earn"][i]}</td><td>${tableOB["cost"][i]}</td><td>${tableOB["profit"][i]}</td><td>${pa.toFixed(2)}%</td></tr>`;
                        $("#dataTable_Earn tbody").append(tableDOM_Earn);
                    }
                    
                $('#dataTable_Earn').DataTable();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url:"https://spreadsheets.google.com/feeds/list/1MzuZYlMKzhOyz7E46FQ-AbjkJ-614AVfp_WQtaEpats/1/public/values?alt=json",
                data:"",
                dataType:"json",
                success:function (data){
                    var data_sheetAPI = data.feed.entry;
                    var items_API = [];
                    for (var i in data_sheetAPI){
                        var item = {};
                        item.time = data_sheetAPI[i].gsx$time.$t;
                        item.inorout = data_sheetAPI[i].gsx$inorout.$t;
                        item.name = data_sheetAPI[i].gsx$name.$t;
                        item.number = data_sheetAPI[i].gsx$number.$t;
                        item.year = data_sheetAPI[i].gsx$year.$t;
                        item.month = data_sheetAPI[i].gsx$month.$t;
                        item.priceone = data_sheetAPI[i].gsx$priceone.$t;
                        item.earn = data_sheetAPI[i].gsx$earn.$t;
                        item.pay = data_sheetAPI[i].gsx$pay.$t;
                        item.cost = data_sheetAPI[i].gsx$cost.$t;
                        item.profit = data_sheetAPI[i].gsx$profit.$t;
                        items_API.push(item);
                    };
                    let bag_list = ["雙肩後背包","水桶包","旅行包","隨身腰包","旅行箱","郵差包","馬鞍包","劍橋包","睡袋","托特包"];
                    let bgOB = [];
                    for (let k = 0; k < bag_list.length; k++){
                        bgOB[bag_list[k]] = [];
                    }
                    for(let i = 0; i < items_API.length; i++){
                        if(items_API[i]["inorout"]=="In"){
                            let items = items_API[i];
                            for (let j = 0; j < bag_list.length; j++){
                                if(items["name"]==bag_list[j]){
                                    bgOB[items["name"]].push(items);
                                }
                            }

                        }
                    }
                    let bgOB_lastest = [];
                    let i_bgOB;
                    for(let i =0; i < bgOB.length; i++){
                        i_bgOB = bgOB[i];
                    }
                    console.log(i_bgOB);
                }
            });
        });
    </script>
</html>
