<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        {% include "header.html" with title="商品資訊頁" %}
    </head>
    <body class="sb-nav-fixed">
        {% include "bar-top.html" %}
        <div id="layoutSidenav">
            {% include "bar-side.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <div class="row mb-4">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block" height="200" src="{% static 'img/SpongeBob_rainbow.png' %}" alt="Firstslide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" height="200" src="{% static 'img/SpongeBob_instru.png' %}" alt="Secondslide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block"  height="200" src="{% static 'img/SpongeBob_conch.png' %}" alt="Thirdslide">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4"></div>
                            
                        </div>
                        <div class="row">
                            <div class="mb-4 flex-fill">
                                <div class="card">
                                    <div class="card-header"><i class="far fa-file-alt"></i>商品資訊</div>
                                    <div class="card-body">
                                        <table class="table table-bordered" id="Firstslide" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>貨品名稱</th>
                                                    <th>進貨價格</th>
                                                    <th>出貨價格</th>
                                                    <th>安全庫存量</th>
                                                    <th>現有庫存量</th>
                                                    <th>儲放區域</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                </main>
                {% include "bar-footer.html" %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
    <script>
        $(document).ready(function() {
            $.ajax({
                url:"https://spreadsheets.google.com/feeds/list/1MzuZYlMKzhOyz7E46FQ-AbjkJ-614AVfp_WQtaEpats/3/public/values?alt=json",
                data:"",
                dataType:"json",
                success:function (data){
                    var data_sheetAPI_storge = data.feed.entry;
                    var items_API_storge = [];
                    for (var i in data_sheetAPI_storge){
                        var item = {};
                        item.nowstoragename = data_sheetAPI_storge[i].gsx$nowstoragename.$t;
                        item.nowstorage = data_sheetAPI_storge[i].gsx$nowstorage.$t;
                        item.sellnum = data_sheetAPI_storge[i].gsx$sellnum.$t;
                        item.safestoragem = data_sheetAPI_storge[i].gsx$safestoragem.$t;
                        item.lackortight = data_sheetAPI_storge[i].gsx$lackortight.$t;
                        item.inprice = data_sheetAPI_storge[i].gsx$inprice.$t;
                        item.outprice = data_sheetAPI_storge[i].gsx$outprice.$t;
                        item.areastorage = data_sheetAPI_storge[i].gsx$areastorage.$t;
                        items_API_storge.push(item);
                    };

                    console.table(items_API_storge)
                    
                    let tableDOM;
                    for(let i = 0; i < items_API_storge.length; i++){
                        let items = items_API_storge[i];
                        tableDOM = `<tr><td>${items["nowstoragename"]}</td><td>${items["inprice"]}</td><td>${items["outprice"]}</td><td>${items["nowstorage"]}</td><td>${items["safestoragem"]}</td><td>${items["areastorage"]}</td></tr>`;
                        $("tbody").append(tableDOM);
                    }
                }
            });
        });
    </script>
</html>
