/*20200227*/

.maptab_fixed_top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	margin-top: 0;
	padding: 0 15px;
	background-color: #fff
}

.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex
}

*,
:active,
:focus,
:hover,
:link,
:visited {
	-o-transition: background-color .2s linear, border-color .1s linear;
	-webkit-transition: background-color .2s linear, border-color .1s linear;
	-moz-transition: background-color .2s linear, border-color .1s linear;
	transition: background-color .2s linear, border-color .1s linear
}

.bg-base-gray {
	background-color: #f9f9f9!important
}

.clr-gray {
	color: #dcdcdc!important
}

.clr-dk-gray {
	color: #767676!important
}

[class*=" fa-"],
[class^=fa-] {
	font-family: FontAwesome!important
}

[data-href] {
	cursor: pointer
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype')
}
/* 
html {
	font-size: 1rem
}

body {
	font-family: arial, 'Noto Sans', '微軟正黑體', sans-serif;
	font-size: .875rem
}

p {
	text-align: justify
}

blockquote,
blockquote:hover {
	border-color: transparent
} */

img {
	margin: 0 auto
}
/* 
a {
	position: relative;
	word-break: break-all
}

a:hover {
	z-index: 9
}

a:focus,
button:focus,
input:focus,
select:focus {
	-webkit-box-shadow: 0 0 3px 3px orange;
	-ms-box-shadow: 0 0 3px 3px orange;
	box-shadow: 0 0 3px 3px orange
}

br {
	font-family: '微軟正黑體'
}

.carousel.slide.t2 a:focus,
.carousel.slide.t2 button:focus,
.carousel.slide.t2 input:focus,
.carousel.slide.t2 select:focus {
	-webkit-box-shadow: 0 0 3px 3px transparent;
	-ms-box-shadow: 0 0 3px 3px transparent;
	box-shadow: 0 0 3px 3px transparent
} */
/* 
.align-items-center {
	align-items: center
}

.mx-1 {
	margin-left: .5rem;
	margin-right: .5rem
}

.flex-wrap {
	flex-wrap: wrap
}

.w-50 {
	width: 50%
}

.ml-auto {
	margin-left: auto
}

@media (min-width:375px) {
	.warn-list {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-o-flex-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	.warn-list>a,
	.warn-list>div {
		width: calc(50% + 2px);
		margin: -2px -2px 0 0
	}
}

@media (min-width:768px) {
	#openDiv {
		display: block!important
	}
	.nwp-modal.modal-dialog {
		width: 90%
	}
	.sevenDaysReport .table {
		position: relative
	}
	.sevenDaysReport .table .hight_light {
		position: absolute;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		pointer-events: none
	}
	.sevenDaysReport .table .hight_light th {
		width: calc(100%/7);
		height: 100%;
		position: relative;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		-ms-transform: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		background: 0 0
	}
	.sevenDaysReport .table .hight_light th:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: 0 0;
		border: 1px solid transparent;
		border-top: none;
		border-bottom: none;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		-ms-transform: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		z-index: 10
	}
	.sevenDaysReport .table .hight_light th:before:last-child {
		border: none
	}
	.sevenDaysReport .table .hight_light th.on_mouse:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #1a67b1;
		border-top: none;
		border-bottom: none;
		background: 0 0;
		z-index: 10
	}
	.sevenDaysReport .table .hight_light th.out_mouse:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid transparent;
		border-top: none;
		border-bottom: none;
		background: 0 0;
		z-index: 10
	}
	.sevenDaysReport.table-responsive {
		overflow-x: scroll;
		overflow-y: hidden
	}
	.index-news ul li:hover a {
		background: #0959a8;
		color: #fff
	}
	.index-news ul li:hover a::after {
		color: #fff
	}
	.index-news ul li:hover a::before {
		content: "";
		background: #187ac8;
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		height: 0;
		-ms-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		-ms-transform: all .5s ease-in-out;
		transition: all .5s ease-in-out
	}
}

@media (min-width:992px) {
	.sm-width {
		width: 768px
	}
	.btn[data-target="#eq-modal"] {
		display: none
	}
	.three-hr-forecast .table thead.fixed_top {
		position: fixed;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		z-index: 999;
		overflow: scroll;
		width: 940px;
		pointer-events: none
	}
	.three-hr-forecast .table thead.fixed_top::-webkit-scrollbar {
		-webkit-appearance: none;
		display: none
	}
	.search-box .close {
		position: absolute;
		top: 50%;
		right: 15px;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%)
	}
	.mobile-toggle {
		display: none
	}
	.intro_vision .intro-index-kv .map_theme {
		display: block
	}
	.md-margin-left-10 {
		margin-left: 10px!important
	}
}

@media (min-width:1200px) {
	.three-hr-forecast .table thead.fixed_top {
		width: 1140px
	}
	.map_control {
		display: none
	}
}

@media (min-width:1440px) {
	.wrapper {
		width: 1440px;
		margin: 0 auto
	}
	.wrapper .sevenDaysReport .table {
		width: 100%
	}
	.wrapper .sevenDaysReport .table .hight_light th {
		width: calc(1440px / 7)
	}
	.wrapper .sevenDaysReport .table #table_top {
		position: relative;
		left: 0;
		top: 0;
		-moz-transform: translateY(0) translateX(0);
		-webkit-transform: translateY(0) translateX(0);
		-o-transform: translateY(0) translateX(0);
		-ms-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0)
	}
	.wrapper .sevenDaysReport .table #table_top.fixed_top {
		position: fixed;
		width: 1440px;
		left: 50%;
		top: 0;
		z-index: 9999;
		-moz-transform: translateY(0) translateX(-50%);
		-webkit-transform: translateY(0) translateX(-50%);
		-o-transform: translateY(0) translateX(-50%);
		-ms-transform: translateY(0) translateX(-50%);
		transform: translateY(0) translateX(-50%);
		transform-origin: center center
	}
	.wrapper .sevenDaysReport.table-responsive {
		overflow: inherit;
		width: 100%
	}
	.wrapper .sevenDaysReport.table-responsive tbody,
	.wrapper .sevenDaysReport.table-responsive tfoot {
		width: 1440px
	}
}

@media (max-width:1200px) {
	.sevenDaysReport .table {
		width: 100%
	}
	.nav-above .tab-content {
		margin: 10px
	}
	.story-photo .photo-visible {
		max-height: 200px
	}
	.tab-v1 .tab-content .text_content_blue {
		height: 294px
	}
	.chief .list {
		transform: none
	}
}

@media (max-width:991px) {
	.md-flex-row-wrap {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.header .mega-menu .equal-height .equal-height-in h3 a {
		margin: 0;
		padding: 0!important
	}
	.intro_vision .intro-index-kv .cube_weather .weather-loc .city {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-o-flex-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around
	}
	.intro_vision .intro-index-kv .cube_weather .weather-loc .city>span {
		display: none
	}
	.intro_vision .intro-index-kv .cube_weather .weather-loc .city>.sky-form {
		display: block;
		width: 100%;
		margin: 0;
		background: 0 0;
		border: none
	}
	.intro_vision .intro-index-kv .cube_weather .weather-loc .city>.sky-form label {
		margin: 0
	}
	.intro_vision .intro-index-kv .cube_weather .weather-loc .city>.sky-form select {
		background-color: rgba(255, 255, 255, .9);
		color: #1a67b1;
		font-size: 1.4rem
	}
	.intro_vision .intro-index-kv .cube_weather .weather-loc .city>.sky-form .select i::before {
		color: #1a67b1
	}
	.intro_vision .intro-index-kv .cube_weather .weather-loc .city a {
		margin-top: .5rem;
		font-size: 1.4rem
	}
	.tab-flex-sunrise .tab-content {
		margin-top: 0
	}
	.tab-forecast-map .tab-content ol li:nth-child(4n+1) a,
	.tab-forecast-map .tab-content ol li:nth-child(4n+2) a {
		background-color: #fff
	}
	.tab-forecast-map .tab-content ol li:nth-child(odd) a {
		background-color: #eee
	}
	/* .breadcrumbs {
		display: none
	} */
	.icon_block {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap
	}
	.icon_block .block_info {
		width: 100%
	}
	.banner_wrap .to-to {
		left: 0;
		width: auto
	}
	.control-box {
		padding: 0
	}
	.control-box .btn-group {
		height: 100%
	}
	.control-box .btn-group a {
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		border: none;
		height: 100%;
		background: rgba(255, 255, 255, .2)
	}
	.control-box .btn-group a:hover {
		background: rgba(255, 255, 255, .8)
	}
	.earthquake-map .eq-wraper {
		margin: 0 auto;
		width: 100%!important
	}
	.earthquake-map .eq-wraper.earthquake-fixed {
		position: static!important
	}
	.earthquake-map .eq-wrap {
		left: 50%!important;
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	.chart-responsive {
		overflow: scroll
	}
	.intro_vision {
		min-height: 620px;
		height: inherit
	}
	.intro_vision .intro_wrap {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.intro_vision .intro_wrap .cube_map {
		width: 100%
	}
	.intro_vision .intro_wrap .cube_weather {
		order: 1;
		width: 100%
	}
	.intro_vision .intro_wrap .cube_sideNAV {
		order: 2;
		width: 100%
	}
	.sm-align-r {
		display: block
	}
	.bg-gray {
		min-height: 506px
	}
	.arrow-list ol,
	.arrow-list ol li {
		display: block;
		padding: 10px 0
	}
	.arrow-list.inlineblock>li {
		display: inline-block;
		vertical-align: top;
		width: 49%
	}
	.sm-margin-top-14 {
		margin-top: -14px
	}
	.table-responsive .table.more-than {
		min-width: 1140px
	}
	.report a.fanbox {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-o-flex-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	.report a.fanbox .visible-more {
		position: static;
		margin-top: inherit;
		display: block;
		text-align: right;
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
	.icon-list li i {
		top: 10px;
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
	.story-photo .photo-visible {
		max-height: inherit
	}
	.nav-above-list {
		text-align: inherit
	}
	.nav-above-list li {
		width: 48%;
		margin: 8px 5px
	}
	.nav-above-list li a:focus,
	.nav-above-list li a:hover,
	.nav-above-list li.active a:focus,
	.nav-above-list li.active a:hover {
		border-color: #d63801
	}
	.nav-above-list li::after,
	.nav-above-list li::before {
		content: none
	}
	.nav-above .tab-content {
		margin: 10px 2px
	}
	.nav-canopen li {
		width: 100%;
		margin: -1px 0 0
	}
	.tab-v1 .tab-content .text_content_blue {
		overflow: auto;
		height: auto
	}
	.no-serifs .nav {
		margin-left: -10px;
		margin-right: -10px
	}
	.no-serifs .nav>li {
		width: 32%;
		margin: 0
	}
	/* .main-title-bar .default-flex {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap
	}
	.main-title-bar .main-title+a.marquee {
		padding-right: 50px
	} */
	.defaule-carousel .carousel-control {
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		border: none;
		height: 100%;
		background: rgba(255, 255, 255, .2)
	}
	.defaule-carousel .carousel-control:hover {
		background: rgba(255, 255, 255, .8)
	}
	.defaule-carousel .carousel-inner {
		width: 100%
	}
	.tab-collapsing .flip {
		display: block;
		padding: 0
	}
	.tab-collapsing .panel {
		display: block
	}
	.tab-collapsing .nav-tabs {
		height: 0;
		display: none;
		-webkit-transition: all 3s ease-in-out;
		-moz-transition: all 3s ease-in-out;
		-o-transition: all 3s ease-in-out;
		-ms-transform: all 3s ease-in-out;
		transition: all 3s ease-in-out
	}
	.tab-collapsing .nav-tabs.is_open {
		height: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap
	}
	.hakka-point {
		display: none
	}
	ol.uvi-description {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex
	}
	ol.uvi-description li {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-o-flex-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	ol.uvi-description li p {
		width: 100%
	}
	ol.uvi-description li+li {
		border-left: 1px solid #ddd
	}
	.tab-flex-sunrise .awards-list li .title {
		width: 40%
	}
	.tab-flex-sunrise .awards-list li p {
		width: 60%
	}
	.cbp-l-inline-left,
	.cbp-l-inline-right {
		margin: 10px 0;
		padding: 0 10px
	}
	.know .cbp-l-inline {
		background-size: inherit;
		background-position: bottom right
	}
	.chief .avatar {
		padding: 40px
	}
	.diagram ul .lev2-2 .item {
		padding: 0 .5rem
	}
	.chart-md-scroll {
		width: 991px
	}
	.typ-nowlist li {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		border-bottom: 1px solid #dcdcdc;
		padding: .5rem 0
	}
	.typ-nowlist li span:first-child,
	.typ-nowlist li span:last-child {
		width: 100%;
		-ms-flex: 0 1 auto;
		text-align: left
	}
	.typ-nowlist li span:first-child {
		font-weight: 700
	}
	.typ-nowlist li span:last-child {
		padding-left: 2.5rem
	}
}

@media (max-width:768px) {
	.intro_vision .intro-index-kv .cube_weather .weather-sun .bottom>span {
		margin-bottom: .5rem
	}
	#openDiv {
		display: none
	}
	.tab-default.drop-tab .dropdown:hover .dropdown-content {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.tab-default.drop-tab .dropdown:hover .dropdown-content li {
		width: 100%
	}
	.sm-min-80 {
		min-width: 80px
	}
	.intro_vision {
		height: inherit;
		min-height: 620px
	}
	.intro_vision .intro_wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.intro_vision .intro_wrap .cube_sideNAV {
		width: 100%
	}
	.intro_vision .intro_wrap .cube_map,
	.intro_vision .intro_wrap .cube_weather {
		width: 100%
	}
	.other .note {
		width: 50%
	}
	.bg-gray {
		min-height: inherit;
		padding: 20px
	}
	.letter-content {
		padding: 20px
	}
	.talk img {
		width: 50%
	}
	.nav-above-list li {
		width: 100%;
		padding: 0 3px;
		margin: 0
	}
	.nav-above-list li .item-menu {
		margin: 20px 0;
		padding: 0
	}
	.nav-above-list li .tab-v3 .nav-pills.tabbox li.active:before,
	.nav-above-list li .tab-v3 .nav-pills.tabbox li:hover:before {
		content: none
	}
	.nav-above-list li+li a {
		margin-top: -2px;
		border-top-color: transparent
	}
	.sm-straight-flex {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap
	}
	.tab-v3.tab-sports .nav-pills li {
		display: inline-block;
		width: 48%;
		margin-bottom: 5px
	}
	.tab-v3.tab-sports .nav-pills li a {
		border: 1px solid #dcdcdc
	}
	.tab-v3.tab-sports .nav-pills li.active a {
		border: 1px solid #1a67b1
	}
	.awards-list {
		padding: 0 20px
	}
	.awards-list li:before {
		content: none
	}
	.awards-list li {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.awards-list li p {
		width: 100%;
		padding-left: 1em
	}
	.awards-list li a {
		padding-left: 1em
	}
	.awards-list li .title {
		width: 100%;
		padding: 0
	}
	.awards-list li .title:before {
		content: "";
		width: 3px;
		height: 1em;
		background: #187ac8;
		position: absolute;
		left: -10px;
		top: 5px
	}
	.diagram ul {
		width: 500px;
		max-width: 100%;
		margin: auto
	}
	.diagram ul .lev2-1 {
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-o-flex-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	.diagram ul .lev2-1 .lev3-1 {
		width: calc(50% - 2rem);
		display: block
	}
	.diagram ul .lev2-1 .lev3-1:last-child::before {
		right: 50%
	}
	.diagram ul .lev2-1 .lev3-1:first-child::before {
		left: 50%
	}
	.diagram ul .lev2-1 .lev3-1 .item a {
		writing-mode: horizontal-tb;
		width: 100%
	}
	.diagram ul .lev2-1 .lev3-1 .item a::before {
		content: none
	}
	.diagram ul .lev2-1 .lev3-1 .item:first-child a::before {
		content: ""
	}
	.diagram ul .lev2-1 .lev3-1 .item+.item {
		padding-top: 1rem
	}
	.diagram ul .lev2-2 {
		display: block
	}
	.diagram ul .lev2-2 .item::before {
		content: none
	}
	.diagram ul .lev2-2 .item .lev3 {
		max-height: 0;
		overflow: hidden
	}
	.diagram ul .lev2-2 .item .open+.lev3 {
		max-height: 1000px;
		margin-bottom: 2rem
	}
	.diagram ul .lev2-2::before {
		background: 0 0;
		left: 50%;
		-moz-transform: translate(-50%);
		-webkit-transform: translate(-50%);
		-o-transform: translate(-50%);
		-ms-transform: translate(-50%);
		transform: translate(-50%);
		width: 70%;
		max-width: 280px;
		height: 30px;
		border: 3px solid #dcdcdc;
		border-bottom: none
	}
	.diagram ul .lev2-2 .lev3 a {
		width: 80%;
		margin: auto
	}
	.diagram ul .lev1.v-4 .title {
		display: block
	}
	.w-owl .item p {
		font-size: 1rem
	}
	.profile .notification div {
		float: inherit!important
	}
	.profile .notification>.item {
		padding-left: 0
	}
	.profile .notification a {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.profile .notification .three {
		padding: 0;
		text-align: left;
		width: auto;
		max-width: inherit;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex
	}
	.profile .notification .three .new {
		position: static;
		width: auto;
		order: 1
	}
	.profile .notification .two {
		width: 100%
	}
	.threehr .panel-heading .panel-title a .open,
	.threehr .panel-heading .panel-title a .rain,
	.threehr .panel-heading .panel-title a .time,
	.threehr .panel-heading .panel-title a .weather {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 0
	}
	.threehr .panel-heading .panel-title a .open span,
	.threehr .panel-heading .panel-title a .rain span,
	.threehr .panel-heading .panel-title a .time span,
	.threehr .panel-heading .panel-title a .weather span {
		padding: 0
	}
}

@media (max-width:640px) {
	.intro_vision .intro_wrap .cube_sideNAV .carousel_wrap .AD-item {
		height: auto
	}
	.intro_vision .intro_wrap .cube_sideNAV .carousel_wrap .AD-item img {
		height: auto;
		width: 100%
	}
	.intro_vision .intro-index-kv .cube_weather .weather-days .col-day .icon {
		height: inherit
	}
	.intro_vision .intro-index-kv .cube_weather .weather-AD,
	.intro_vision .intro-index-kv .cube_weather .weather-days,
	.intro_vision .intro-index-kv .cube_weather .weather-loc,
	.intro_vision .intro-index-kv .cube_weather .weather-sun {
		width: 100%
	}
	.intro_vision .intro_wrap {
		padding: 15px 15px 25px
	}
	.modal.in .nwp-modal.modal-dialog {
		height: 100vh
	}
	.table-time .thead {
		display: none
	}
	.table-time .tbody {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 20px 0 15px
	}
	.table-time .tbody li {
		padding: 10px;
		width: inherit;
		border: 1px solid #c3c3c3
	}
	.table-time .tbody li:first-child {
		border-right: none
	}
	.table-time .tbody li:nth-child(2) {
		border-right: none;
		border-left: none
	}
	.table-time .tbody li:nth-child(3) {
		border-left: none
	}
	.table-time .tbody li:last-child {
		border: none;
		min-width: 50%;
		margin: 0 10px -10px
	}
	.detailed ul {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.detailed ul li,
	.detailed ul li:first-child {
		text-align: left;
		padding-left: 24%
	}
	.list_info_block.vision_1 .list_row .info_detail {
		display: block
	}
	.list_info_block.vision_1 .list_row .info_detail li {
		padding-bottom: 10px
	}
	.list_info_block.vision_1 .list_row .sp ul li {
		margin: 0
	}
	.list_info_block.vision_1 .list_row .sp ul li a {
		display: block
	}
	.banner-part {
		background-position: top right;
		background-size: cover;
		height: 200px
	}
	.banner-part.banner-low {
		height: 380px;
		background-position: top left
	}
	.cube {
		position: static
	}
	.cube>ul {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		background: #1a67b1
	}
	.cube>ul li {
		width: 33.3333%
	}
	.cube>ul li:first-child {
		width: 100%
	}
	.tab-default.vision_2 .nav>li>a {
		border: 1px #ced2d6 solid;
		border-radius: 4px;
		width: 100%;
		height: 100px
	}
	.tab-default.vision_2 .nav-tabs i {
		font-size: 2.3rem;
		color: #959595;
		float: none!important;
		display: block;
		margin: 5px auto
	}
	.tab-default.vision_2 .nav-tabs a:hover i {
		font-size: 2.3rem;
		color: #fff
	}
	.tab-default.vision_2 .nav-tabs .active a i {
		font-size: 2.3rem;
		color: #fff
	}
	.tab-default.vision_3 .nav>li>a {
		border: 1px #ced2d6 solid;
		border-radius: 4px;
		width: 100%
	}
	.tab-default.vision_3 .nav-tabs i {
		font-size: 2.3rem;
		color: #959595;
		float: none!important;
		margin: 5px auto
	}
	.tab-default.vision_3 .nav-tabs a:hover i {
		font-size: 2.3rem;
		color: #fff
	}
	.tab-default.vision_3 .nav-tabs .active a i {
		font-size: 2.3rem;
		color: #fff
	}
	.cube-wrap {
		margin-bottom: 20px
	}
	.media-container {
		padding-left: 15px;
		padding-right: 15px
	}
	.content-border-gray {
		margin-bottom: 0
	}
	.sky-form .label {
		line-height: 1
	}
	.sky-form.vision_2,
	.sky-form.vision_2 fieldset {
		padding: 0 30px 15px
	}
	.main-title-bar-v2.center-xs .main-title {
		text-align: center;
		margin: 0 auto;
		width: 180px
	}
	.news-list {
		padding: 0 15px
	}
	.measures h3 {
		font-size: 1.7rem
	}
	.measures h3 small {
		font-size: 1.1rem
	}
	.measures h4 {
		font-size: 6.6rem
	}
	.measures h4 span {
		font-size: 1.4rem
	}
	.measures p {
		font-size: 1.3rem
	}
	.sun-cloud,
	.sun-cloud-rain {
		display: block;
		width: 60px;
		height: 54px;
		position: relative;
		left: 50px;
		top: 40px
	}
	.no-serifs .tab-content ul li data {
		display: block;
		width: 105px;
		margin-bottom: 15px
	}
	.no-serifs .tab-content ul li p {
		margin: 0;
		overflow: inherit;
		white-space: inherit;
		text-overflow: inherit;
		line-height: 1.5;
		width: auto;
		display: block
	}
	.no-serifs .tab-content ul li div {
		position: relative;
		text-align: right;
		display: inherit
	}
	.banner_wrap .marquee {
		position: static
	}
	.banner_wrap .warning_cube ul {
		width: 100%
	}
	.banner_wrap .cube {
		background: #0959a8
	}
	.no-serifs .tab-content ul li .new {
		margin: .5rem 0
	}
	.blueblock li {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.blueblock li>span {
		margin: auto
	}
	.blueblock li p {
		width: 100%
	}
	.slider-btn {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start
	}
	.slider-btn p {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		-moz-transform: translateX(-30px);
		-webkit-transform: translateX(-30px);
		-o-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px)
	}
	.slider-btn::after {
		right: inherit;
		top: inherit;
		bottom: 0;
		left: 0;
		height: calc(100% - 50px)
	}
	.slider-btn .btn_group .about_flow {
		left: calc(100% + 1rem)
	}
	.slider-btn.open p {
		max-height: 5rem
	}
	.vab-bk {
		height: 100%
	}
	.vab-litle {
		padding-top: 1.5rem;
		margin-bottom: 1.2rem
	}
	.vab-microphone {
		padding: 6.5rem
	}
	.vab-microphone i {
		font-size: calc(1.8rem * 1.5)
	}
	.vab-microphone i::after {
		width: 110px;
		height: 110px
	}
	.vab-microphone::before {
		width: 210px;
		height: 210px
	}
	.vab-microphone::after {
		width: 160px;
		height: 160px
	}
	.prompt-menu {
		left: 50%;
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	.prompt-menu::before {
		left: 50%;
		-moz-transform: translateX(-50%) rotate(45deg);
		-webkit-transform: translateX(-50%) rotate(45deg);
		-o-transform: translateX(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) rotate(45deg);
		transform: translateX(-50%) rotate(45deg)
	}
	.share-btn.active>ul.pos-right {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		left: inherit;
		right: 0;
		top: 100%;
		-moz-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		width: auto
	}
	.share-btn.active>ul.pos-right .fab {
		margin: 0 .5rem
	}
	.eq-infor {
		padding-right: 0
	}
	.eq-detail>ul li {
		padding-top: .5rem;
		border-top: 1px solid #dcdcdc
	}
}

@media (max-width:480px) {
	.eq_note_m span {
		float: inherit
	}
	.tidal-chart-wrap .tidal-head .text-content {
		text-align: left
	}
	.know .cbp-l-inline {
		min-height: 200px
	}
	.intro_vision .intro_wrap .cube_weather .cube_row.cube-1 {
		order: 3
	}
	.intro_vision .intro_wrap .cube_weather .cube_row.cube-2 {
		order: 2
	}
	.intro_vision .intro_wrap .cube_weather .cube_row.cube-3 {
		order: 4
	}
	.intro_vision .intro_wrap .cube_weather .cube_row.cube-4 {
		order: 1
	}
	.acc-v1.vision_1 .span_location {
		margin-bottom: 15px
	}
	.intro_vision .intro_wrap .cube_weather {
		max-height: inherit
	}
	.intro_vision .intro_wrap .cube_weather .cube_row {
		width: 100%
	}
	.intro_vision .intro_wrap .cube_weather .favorite {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.intro_vision .intro_wrap .cube_weather .favorite>li {
		width: 48%;
		margin: 10px 1px 0
	}
	.other .note,
	.other .note-md {
		width: 100%
	}
	.detailed ul li,
	.detailed ul li:first-child {
		padding-left: 33px
	}
	.arrow-list.inlineblock>li {
		width: inherit
	}
	.talk img {
		width: 100%
	}
	.tab-circle .nav.nav-icon>li {
		margin: 0 16px
	}
	.no-serifs .nav>li {
		width: 100%;
		border-bottom: none
	}
	.no-serifs .nav>li:last-child {
		border-bottom: 1px solid #0959a8
	}
	.trigger-img h3 {
		padding: 5px 0
	}
	.news-list dt {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap
	}
	.banner_wrap .to-to {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}
	.banner_wrap .to-to li {
		width: auto;
		margin: 5px 10px;
		padding: 5px 15px
	}
	.banner_wrap .to-to li span {
		width: auto
	}
	.data-colorbar {
		padding-right: 0;
		margin: 20px 0
	}
	.data-colorbar:after {
		top: inherit;
		bottom: 100%
	}
	.data-colorbar:before {
		bottom: inherit;
		top: 100%
	}
	.tab-v1 .tab-content .text_content {
		padding: 15px
	}
	.warning_wrap .warning_information {
		right: -66px
	}
	ul.typhoon-nav {
		display: block!important
	}
	ul.typhoon-nav.nav {
		padding-left: 15px
	}
	ul.typhoon-nav li {
		width: auto!important
	}
	.typhoon-slider-list button {
		max-width: inherit
	}
	.date-list .flex-row-nowrap {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.date-list .date-mark {
		margin-bottom: 1rem
	}
	.date-list ul li a,
	.date-list ul li span:last-child {
		display: block;
		width: 100%
	}
}

@media (max-width:375px) {
	.tab-forecast-map .tab-content ol li a {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}
	.tab-circle .nav.nav-icon>li {
		margin: 0 5px
	}
	.trigger-img {
		margin: 3px
	}
	.trigger-img h3 {
		font-size: .8rem
	}
	.heading-title.type_6 {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.heading-title.type_6 a+a {
		margin-top: 1rem
	}
	.heading-title.type_6 a+a::before {
		bottom: calc(100% + .5rem);
		left: .5rem;
		width: 100%;
		height: 2px;
		-moz-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-o-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%)
	}
} */

.map_theme {
	position: relative;
	z-index: 1
}

.map_theme .weather_data {
	margin: 15px 0
}

.map_theme .shadow {
	fill: #f1f1f1!important;
	-moz-transform: translateX(2px) translateY(2px);
	-webkit-transform: translateX(2px) translateY(2px);
	-o-transform: translateX(2px) translateY(2px);
	-ms-transform: translateX(2px) translateY(2px);
	transform: translateX(2px) translateY(2px)
}

.map_theme .link_to_page {
	position: absolute;
	z-index: 2;
	pointer-events: none
}

.map_theme .link_to_page path {
	fill: #0f838c!important;
	opacity: .4;
	pointer-events: auto
}

.map_theme .link_to_page path:hover {
	fill: #42a1ae!important;
	opacity: .7
}

.map_theme g,
.map_theme path {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	stroke-linecap: round;
	stroke-linejoin: round
}

.map_theme .weather_data {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1
}

.map_theme .weather_data .icon_zone {
	display: block;
	position: absolute;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 6px 10px;
	background: -moz-linear-gradient(top, #fff 30%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(top, #fff 30%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, #fff 30%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
	color: #555
}

.map_theme .weather_data .icon_zone:focus,
.map_theme .weather_data .icon_zone:hover {
	background: #fcffbd;
	z-index: 9
}

.map_theme .weather_data .icon_zone img {
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto
}

.map_theme .weather_data .icon_zone span {
	display: block;
	text-align: center;
	font-size: .775rem;
	letter-spacing: 1px;
	margin-top: 5px;
	font-weight: 700;
	min-width: 75px
}

.map_theme .weather_data .icon_zone span+.rain {
	margin-top: 0;
	position: relative;
	font-weight: 700;
	letter-spacing: 1px
}

.map_theme .weather_data .icon_zone span+.rain:before {
	color: #1a67b1;
	content: "\e948";
	font-family: icomoon
}

.map_theme .weather_data .icon_zone .city {
	text-align: center;
	margin: 0;
	font-size: .775rem;
	letter-spacing: 1px;
	color: #555
}

.map_theme .weather_data .icon_zone[name=C10017] {
	left: 88%;
	top: 10%
}

.map_theme .observe_weather_data .icon_zone[name=C46727] {
	left: 28%;
	top: 37%
}

.map_theme .weather_data .icon_zone[name=C65] {
	left: 85%;
	top: 15%
}

.map_theme .weather_data .icon_zone[name=C63] {
	left: 85%;
	top: 12%
}

.map_theme .weather_data .icon_zone[name=C68] {
	left: 48%;
	top: 8%
}

.map_theme .weather_data .icon_zone[name=C10004] {
	left: 61%;
	top: 28%
}

.map_theme .weather_data .icon_zone[name=C10018] {
	left: 47%;
	top: 8%
}

.map_theme .weather_data .icon_zone[name=C10005] {
	left: 48%;
	top: 22%
}

.map_theme .weather_data .icon_zone[name=C66] {
	left: 34%;
	top: 23%
}

.map_theme .weather_data .icon_zone[name=C10008] {
	left: 55%;
	top: 46%
}

.map_theme .weather_data .icon_zone[name=C10007] {
	left: 30%;
	top: 35%
}

.map_theme .weather_data .icon_zone[name=C10009] {
	left: 24%;
	top: 48%
}

.map_theme .weather_data .icon_zone[name=C10010] {
	left: 22%;
	top: 60%
}

.map_theme .weather_data .icon_zone[name=C10020] {
	left: 49%;
	top: 57%
}

.map_theme .weather_data .icon_zone[name=C67] {
	left: 28%;
	top: 71%
}

.map_theme .weather_data .icon_zone[name=C64] {
	left: 30%;
	top: 84%
}

.map_theme .weather_data .icon_zone[name=C10013] {
	left: 45%;
	top: 91%
}

.map_theme .weather_data .icon_zone[name=C10015] {
	left: 78%;
	top: 47%
}

.map_theme .weather_data .icon_zone[name=C10014] {
	left: 61%;
	top: 80%
}

.map_theme .weather_data .icon_zone[name=C10002] {
	left: 85%;
	top: 28%
}

.map_theme .weather_data .icon_zone[name=C10016] {
	left: 6%;
	top: 59%
}

.map_theme .weather_data .icon_zone[name=C09020] {
	left: 6%;
	top: 40%
}

.map_theme .weather_data .icon_zone[name=C09007] {
	left: 18%;
	top: 20%
}

.map_theme .observe_weather_data {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1
}

.map_theme .observe_weather_data .icon_zone {
	display: block;
	position: absolute;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	background: -moz-linear-gradient(top, #fff 30%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(top, #fff 30%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, #fff 30%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
	color: #555
}

.map_theme .observe_weather_data .icon_zone:hover {
	background: #fcffbd
}

.map_theme .observe_weather_data .icon_zone img {
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto
}

.map_theme .observe_weather_data .icon_zone span.temperature i {
	color: #555;
	font-size: .875rem
}

.map_theme .observe_weather_data .icon_zone span {
	display: block;
	text-align: center;
	font-size: .775rem;
	letter-spacing: 1px;
	margin-top: 5px;
	font-weight: 700;
	min-width: 75px
}

.map_theme .observe_weather_data .icon_zone span+.rain {
	margin-top: 0;
	position: relative;
	font-weight: 700;
	letter-spacing: 1px
}

.map_theme .observe_weather_data .icon_zone span+.rain:before {
	color: #1a67b1;
	content: "\e948";
	font-family: icomoon
}

.map_theme .observe_weather_data .icon_zone h6 {
	text-align: center;
	margin: 0;
	font-size: .775rem;
	letter-spacing: 1px;
	color: #555
}

.map_theme .observe_weather_data .icon_zone[name=C46694] {
	left: 89%;
	top: 5%
}

.map_theme .observe_weather_data .icon_zone[name=C46692] {
	left: 72%;
	top: 13%
}

.map_theme .observe_weather_data .icon_zone[name=C46757] {
	left: 61%;
	top: 28%
}

.map_theme .observe_weather_data .icon_zone[name=C46749] {
	left: 38%;
	top: 22%
}

.map_theme .observe_weather_data .icon_zone[name=C46748] {
	left: 22%;
	top: 52%
}

.map_theme .observe_weather_data .icon_zone[name=C46741] {
	left: 23%;
	top: 68%
}

.map_theme .observe_weather_data .icon_zone[name=C46744] {
	left: 30%;
	top: 84%
}

.map_theme .observe_weather_data .icon_zone[name=C46759] {
	left: 45%;
	top: 91%
}

.map_theme .observe_weather_data .icon_zone[name=C46699] {
	left: 78%;
	top: 47%
}

.map_theme .observe_weather_data .icon_zone[name=C46766] {
	left: 61%;
	top: 80%
}

.map_theme .observe_weather_data .icon_zone[name=C46708] {
	left: 85%;
	top: 28%
}

.map_theme .observe_weather_data .icon_zone[name=C46735] {
	left: 6%;
	top: 64%
}

.map_theme .observe_weather_data .icon_zone[name=C46711] {
	left: 8%;
	top: 42%
}

.map_theme .observe_weather_data .icon_zone[name=C46799] {
	left: 25%;
	top: 13%
}

.map_theme .observe_weather_data .icon_zone[name=C46705] {
	left: 53%;
	top: 12%
}

.map_theme .observe_weather_data .icon_zone[name=C46765] {
	left: 58%;
	top: 50%
}

.map_theme .map-tag {
	position: absolute;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	padding: 3px 5px;
	font-size: .575rem;
	z-index: 9;
	display: none
}

.map_theme .map-tag.active {
	display: block
}

.explace {
	position: absolute;
	bottom: 2%;
	z-index: 1;
	display: inline-block
}

.explace li+li {
	margin-top: 1rem
}

.explace a {
	background: #0f838c;
	display: inline-block;
	color: #fff;
	-ms-border-radius: .25rem;
	-moz-border-radius: .25rem;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	padding: .25rem .625rem
}

.explace a:hover {
	opacity: .7
}

.full_map {
	width: 100%!important;
	margin: 0 auto
}

.lg_map {
	width: 850px!important;
	margin: 0 auto
}

.lg_map .weather_data .icon_zone img {
	position: static!important;
	width: 50px!important;
	height: 50px!important;
	-moz-transform: translateX(0)!important;
	-webkit-transform: translateX(0)!important;
	-o-transform: translateX(0)!important;
	-ms-transform: translateX(0)!important;
	transform: translateX(0)!important
}

.lg_map .weather_data .icon_zone span {
	margin-top: 0!important
}

span.temperature {
	font-weight: 700;
	letter-spacing: 1px
}

span.temperature i {
	font-style: normal
}

span.temperature i:first-child {
	color: #1a67b1
}

span.temperature i:last-child {
	color: #ea1904
}

#default_map {
	width: 100%;
	position: relative;
	text-align: center
}

#default_map .weather_data {
	margin: 0;
	pointer-events: none;
	z-index: 20
}

#default_map .weather_data .icon_zone {
	background: #fff;
	opacity: 0
}

#default_map .weather_data .icon_zone.on-hover {
	opacity: 1
}

#default_map .weather_data .icon_zone .city {
	font-weight: 400;
	color: #1a67b1;
	margin: 0
}

#default_map svg {
	max-width: 100%;
	width: 448.59px;
	height: 600px
}

#default_map svg a {
	cursor: pointer
}

#default_map svg a.is-active path {
	fill: rgba(255, 255, 255, .4)
}

#default_map svg path {
	fill: transparent;
	stroke: #FFF;
	stroke-width: 1px;
	stroke-miterlimit: 10
}

#default_map svg path:hover {
	fill: rgba(255, 255, 255, .4)
}

#default_map #position {
	fill: #0959a8!important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

#default_map #position .icon-in {
	animation-name: bounce;
	transform-origin: center bottom;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-iteration-count: infinite
}

#default_map #position .icon-in path {
	fill: #010840!important;
	stroke: none!important
}
 
@keyframes bounce {
	20%,
	53%,
	80%,
	from,
	to {
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		transform: translate3d(0, 0, 0)
	}
	40%,
	43% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -30px, 0)
	}
	70% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -15px, 0)
	}
	90% {
		transform: translate3d(0, -4px, 0)
	}
}
/*
#theme-1 {
	width: 600px;
	margin: 0 auto
}

#theme-1 svg {
	width: 100%
}

#theme-1 svg>g path:hover {
	fill: #1596ed
}

#theme-1 svg>g.active path {
	fill: #1596ed
}

#theme-1 svg path {
	fill: #a4dbd5;
	stroke: #FFF;
	stroke-width: 1.3px;
	stroke-miterlimit: 10
}

#theme-1 svg .test {
	width: 150px;
	height: 150px;
	fill: #000;
	display: block;
	position: relative
}

#theme-2 {
	width: 600px;
	margin: 0 auto
}

#theme-2 svg {
	width: 100%
}

#theme-2 svg>g path:hover {
	fill: #1a67b1
}

#theme-2 svg>g.active path {
	fill: #1a67b1
}

#theme-2 svg .st0 {
	fill: #AAD6E3;
	stroke: #FFF;
	stroke-width: 1px
}

#theme-2 svg .st1 {
	fill: #B1D5E4;
	stroke: #FFF;
	stroke-width: 1px
}

#theme-2 svg .st2 {
	fill: #90C4D7;
	stroke: #FFF;
	stroke-width: 1px
}

#theme-2 svg .st3 {
	fill: #AAD6E3;
	stroke: #FFF;
	stroke-width: 1px
}

#theme-2 svg .st4 {
	fill: #6BADD2;
	stroke: #FFF;
	stroke-width: 1px
}

#theme-3 {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #187ac8
}

#theme-3 svg path {
	fill: #BCE2E8;
	stroke: #FFF;
	stroke-width: 3px;
	stroke-miterlimit: 10
}

#theme-3 svg>g.active path {
	fill: #f4f4f4
}

#theme-3 svg .taiwan-map {
	fill: #187ac8;
	stroke: #FFF;
	stroke-width: 1.2px;
	stroke-miterlimit: 10
}

#theme-3 .sea-surface {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

#theme-3 .sea-surface a {
	padding: 4px 25px;
	position: absolute;
	z-index: 1;
	-ms-border-radius: 30px 0 0 30px;
	-moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	border-radius: 30px 0 0 30px;
	overflow: hidden
}

#theme-3 .sea-surface a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left, #fff 0, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(left, #fff 0, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
	-ms-border-radius: 30px 0 0 30px;
	-moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	border-radius: 30px 0 0 30px;
	z-index: -1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

#theme-3 .sea-surface a:hover {
	z-index: 9
}

#theme-3 .sea-surface a:hover:after {
	background: #fff;
	-ms-border-radius: 0 30px 30px 0;
	-moz-border-radius: 0 30px 30px 0;
	-webkit-border-radius: 0 30px 30px 0;
	border-radius: 0 30px 30px 0
}

#theme-3 .sea-surface a span {
	color: #555;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: .675rem
}

#theme-3 .sea-surface a[name=fisherymap01] {
	top: 88%;
	left: 2%
}

#theme-3 .sea-surface a[name=fisherymap02] {
	top: 89%;
	left: 69%
}

#theme-3 .sea-surface a[name=fisherymap03] {
	top: 28%;
	left: 0
}

#theme-3 .sea-surface a[name=fisherymap04] {
	top: 13%;
	left: 0
}

#theme-3 .sea-surface a[name=fisherymap05] {
	top: 44%;
	left: 0
}

#theme-3 .sea-surface a[name=fisherymap06] {
	top: 55%;
	left: 52%
}

#theme-3 .sea-surface a[name=fisherymap07] {
	top: 70%;
	left: 46%
}

#theme-3 .sea-surface a[name=fisherymap08] {
	top: 76%;
	left: 70%
}

#theme-3 .sea-surface a[name=fisherymap09] {
	top: 41%;
	left: 70%
}

#theme-3 .sea-surface a[name=fisherymap10] {
	top: 66%;
	left: 0
}

#theme-3 .sea-surface a[name=fisherymap11] {
	top: 76%;
	left: 3%
}

#theme-3 .sea-surface a[name=fisherymap12] {
	top: 79%;
	left: 32%
}

#theme-3 .sea-surface a[name=fisherymap13] {
	top: 88%;
	left: 18%
}

#theme-3 .sea-surface a[name=fisherymap14] {
	top: 4%;
	left: 36%
}

#theme-3 .sea-surface a[name=fisherymap15] {
	top: 1%;
	left: 73%
}

#theme-3 .sea-surface a[name=fisherymap16] {
	top: 11%;
	left: 65%
}

#theme-3 .sea-surface a[name=fisherymap17] {
	top: 42%;
	left: 23%
}

#theme-3 .sea-surface a[name=fisherymap18] {
	top: 56%;
	left: 22%
}

#theme-3 .sea-surface a[name=fisherymap19] {
	top: 23%;
	left: 70%
}

#theme-4 {
	width: 600px;
	margin: 0 auto
}

#theme-4:hover svg .st0 {
	opacity: .6
}

#theme-4:hover svg .st1 {
	stroke: #187ac8
}

#theme-4 svg .st0 {
	fill: #AAD6E3;
	stroke: #FFF;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10
}

#theme-4 svg .st1 {
	fill: none;
	stroke: #eee;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10
}

#theme-4 .blueroute {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	list-style: none;
	padding: 0;
	margin: 0
}

#theme-4 .blueroute>li {
	position: absolute
}

#theme-4 .blueroute>li.yellow-dot>a::after,
#theme-4 .blueroute>li.yellow-dot>a::before {
	background: rgba(255, 235, 59, .3)
}

#theme-4 .blueroute>li.yellow-dot>a i {
	background-color: #ffeb3b;
	color: #222
}

#theme-4 .blueroute>li.orange-dot>a::after,
#theme-4 .blueroute>li.orange-dot>a::before {
	background: rgba(241, 94, 58, .3)
}

#theme-4 .blueroute>li.orange-dot>a i {
	background-color: #d63801
}

#theme-4 .blueroute>li.is_show>a:after {
	width: 60px;
	height: 60px;
	transition-delay: .1s;
	opacity: 1
}

#theme-4 .blueroute>li.is_show>a:before {
	width: 70px;
	height: 70px;
	opacity: 1
}

#theme-4 .blueroute>li.is_show>a span {
	color: #222
}

#theme-4 .blueroute>li.is_show>a i {
	-ms-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0
}

#theme-4 .blueroute>li.is_show>ol {
	pointer-events: auto;
	opacity: 1
}

#theme-4 .blueroute>li>ol {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 150px;
	background: rgba(255, 255, 255, .85);
	z-index: 10;
	-ms-border-radius: 0 2px 2px 2px;
	-moz-border-radius: 0 2px 2px 2px;
	-webkit-border-radius: 0 2px 2px 2px;
	border-radius: 0 2px 2px 2px;
	left: 0;
	border: 1px solid #4774b8;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	pointer-events: none;
	opacity: 0
}

#theme-4 .blueroute>li>ol>li>a {
	padding: 4px 0;
	display: block;
	font-size: .775rem;
	letter-spacing: 2px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding-left: 1.8rem
}

#theme-4 .blueroute>li>ol>li>a:hover {
	opacity: .8;
	background-color: #4774b8;
	color: #fff
}

#theme-4 .blueroute>li>ol>li>a:hover::before {
	border: 2px solid #fff
}

#theme-4 .blueroute>li>ol>li>a::before {
	content: "";
	position: absolute;
	left: .5rem;
	top: 6px;
	width: 1rem;
	height: 1rem;
	background: #4774b8;
	border-radius: 100%
}

#theme-4 .blueroute>li>ol>li>a.c-yellow {
	color: #222
}

#theme-4 .blueroute>li>ol>li>a.c-yellow:hover {
	background-color: #ffeb3b
}

#theme-4 .blueroute>li>ol>li>a.c-yellow:hover::before {
	border-color: #222
}

#theme-4 .blueroute>li>ol>li>a.c-yellow::before {
	background: #ffeb3b;
	border-color: #ffeb3b
}

#theme-4 .blueroute>li>ol>li>a.c-orange:hover {
	background-color: #d63801;
	color: #fff
}

#theme-4 .blueroute>li>ol>li>a.c-orange::before {
	background: #d63801
}

#theme-4 .blueroute>li>a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-o-flex-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 1
}

#theme-4 .blueroute>li>a::after,
#theme-4 .blueroute>li>a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 10px;
	height: 10px;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background: rgba(60, 143, 209, .3);
	z-index: -1;
	opacity: 0
}

#theme-4 .blueroute>li>a i {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	width: 30px;
	height: 30px;
	padding: 4px;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #4774b8;
	color: #e4f3fe;
	position: relative;
	display: block
}

#theme-4 .blueroute>li>a i:before {
	transform-origin: center center;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 1.175rem
}

#theme-4 .blueroute>li>a span {
	display: block;
	font-size: .775rem;
	font-weight: 700;
	letter-spacing: 1px;
	color: #555
}

#theme-4 .blueroute>li#pPengjiayu_S {
	top: 8%;
	left: 77%
}

#theme-4 .blueroute>li#pShiyuandao_S {
	top: 25%;
	left: 84%
}

#theme-4 .blueroute>li#pKeelung_S {
	top: 12.5%;
	left: 66%
}

#theme-4 .blueroute>li#pLongdong_S {
	top: 14%;
	left: 72%
}

#theme-4 .blueroute>li#pGuishandao_S {
	top: 21%;
	left: 75%
}

#theme-4 .blueroute>li#pWushi_S {
	top: 21%;
	left: 68%
}

#theme-4 .blueroute>li#pSuao_S {
	top: 28%;
	left: 71%
}

#theme-4 .blueroute>li#pHualien_S {
	top: 37%;
	left: 66%
}

#theme-4 .blueroute>li#pLudao_S {
	top: 64.5%;
	left: 63%
}

#theme-4 .blueroute>li#pLanyu_S {
	top: 75%;
	left: 61%
}

#theme-4 .blueroute>li#pTaitung_S {
	top: 62.5%;
	left: 53%
}

#theme-4 .blueroute>li#pHoubihu_S {
	top: 80%;
	left: 43%
}

#theme-4 .blueroute>li#pDonggang_S {
	top: 69.5%;
	left: 38%
}

#theme-4 .blueroute>li#pLiuqiu_S {
	top: 74%;
	left: 30%
}

#theme-4 .blueroute>li#pKaohsiung_S {
	top: 65.5%;
	left: 31%
}

#theme-4 .blueroute>li#pAnping_S {
	top: 58%;
	left: 29%
}

#theme-4 .blueroute>li#pDongjidao_S {
	top: 56%;
	left: 17%
}

#theme-4 .blueroute>li#pBudai_S {
	top: 51%;
	left: 29%
}

#theme-4 .blueroute>li#pMagong_S {
	top: 47%;
	left: 12%
}

#theme-4 .blueroute>li#pTaichung_S {
	top: 31%;
	left: 38%
}

#theme-4 .blueroute>li#pKinmen_S {
	top: 31.5%;
	left: 12%
}

#theme-4 .blueroute>li#pShijing_S {
	top: 24%;
	left: 15%
}

#theme-4 .blueroute>li#pWutong_S {
	top: 26%;
	left: 2%
}

#theme-4 .blueroute>li#pPingtan_S {
	top: 8.5%;
	left: 9%
}

#theme-4 .blueroute>li#pTaipei_S {
	top: 15.5%;
	left: 58%
}

#theme-4 .blueroute>li#pTaizhou_S {
	top: 1%;
	left: 52%
}

#theme-4 .blueroute>li#pMatsu_S {
	top: 1%;
	left: 38%
}

#theme-4 .blueroute>li#pMawei_S {
	top: 4%;
	left: 30%
}

@media (max-width:1200px) {
	#theme-4 .blueroute>li a i {
		width: 24px;
		height: 24px
	}
} */
/* 
#theme-5 {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #187ac8
}

#theme-5 svg {
	width: 100%
}

#theme-5 svg .active path {
	fill: #f2f2f2
}

#theme-5 svg path {
	fill: #BCE2E8;
	stroke: #FFF;
	stroke-width: 4px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10
}

#theme-5 svg #land path {
	fill: #187ac8
}

#theme-5 .ocean-face {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	list-style: none
}

#theme-5 .ocean-face li {
	position: absolute
}

#theme-5 .ocean-face li[itemprop=fsea-01] {
	top: 72%;
	left: 6%
}

#theme-5 .ocean-face li[itemprop=fsea-02] {
	top: 68%;
	left: 24%
}

#theme-5 .ocean-face li[itemprop=fsea-03] {
	top: 75%;
	left: 25%
}

#theme-5 .ocean-face li[itemprop=fsea-04] {
	top: 82%;
	left: 6%
}

#theme-5 .ocean-face li[itemprop=fsea-05] {
	top: 89%;
	left: 6%
}

#theme-5 .ocean-face li[itemprop=fsea-06] {
	top: 75%;
	left: 51%
}

#theme-5 .ocean-face li[itemprop=fsea-07] {
	top: 68%;
	left: 62%
}

#theme-5 .ocean-face li[itemprop=fsea-08] {
	top: 60%;
	left: 25%
}

#theme-5 .ocean-face li[itemprop=fsea-09] {
	top: 60%;
	left: 62%
}

#theme-5 .ocean-face li[itemprop=fsea-10] {
	top: 54%;
	left: 39%
}

#theme-5 .ocean-face li[itemprop=fsea-11] {
	top: 45%;
	left: 47%
}

#theme-5 .ocean-face li[itemprop=fsea-12] {
	top: 45%;
	left: 73%
}

#theme-5 .ocean-face li[itemprop=fsea-13] {
	top: 29%;
	left: 47%
}

#theme-5 .ocean-face li[itemprop=fsea-14] {
	top: 29%;
	left: 73%
}

#theme-5 .ocean-face li[itemprop=fsea-15] {
	top: 14%;
	left: 41%
}

#theme-5 .ocean-face li a {
	display: block;
	position: relative;
	z-index: 0;
	padding: 5px 10px;
	font-size: .775rem;
	letter-spacing: 2px;
	color: #555
} */
/* 
#theme-5 .ocean-face li a:after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(left, #fff 0, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(left, #fff 0, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
	-ms-border-radius: 30px 0 0 30px;
	-moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	border-radius: 30px 0 0 30px
} */
/* 
#theme-6 #land .taiwan {
	fill: #D2EFFA
}

#theme-6 #land>g path {
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	stroke-width: 2px
}

#theme-6 #land .dots {
	fill: #DCDDDD!important;
	z-index: 999
}

#theme-6 #land .line {
	z-index: 999;
	fill: none;
	stroke: #B1B1B2!important;
	stroke-miterlimit: 10
}

#theme-6 #land #tribes-01 path {
	fill: #F99400
}

#theme-6 #land #tribes-02 path {
	fill: #C48A66
}

#theme-6 #land #tribes-03 path {
	fill: #C0A8D2
}

#theme-6 #land #tribes-04 path {
	fill: #F2B41E
}

#theme-6 #land #tribes-05 path {
	fill: #996EA3
}

#theme-6 #land #tribes-06 path {
	fill: #415C9B
}

#theme-6 #land #tribes-07 path {
	fill: #d28426
}

#theme-6 #land #tribes-08 path {
	fill: #D28CB0
}

#theme-6 #land #tribes-09 path {
	fill: #F07081
}

#theme-6 #land #tribes-10 path {
	fill: #8CBF48
}

#theme-6 #land #tribes-11 path {
	fill: #bc9532
}

#theme-6 #land #tribes-12 path {
	fill: #E85A2E
}

#theme-6 #land #tribes-13 path {
	fill: #9fd6d7
}

#theme-6 #land #tribes-14 path {
	fill: #CBD932
}

#theme-6 #land #tribes-15 path {
	fill: #58d6f4
}

#theme-6 #land #tribes-16 path {
	fill: #f73131
}

#theme-6 .tribes-list {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%
}

#theme-6 .tribes-list li {
	position: absolute
}

#theme-6 .tribes-list li a {
	padding: 8px 20px;
	color: #fff;
	letter-spacing: 3px;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	font-size: .875rem
}

#theme-6 .tribes-list li[itemprop=tribes-01] {
	top: 17%;
	left: 77%
}

#theme-6 .tribes-list li[itemprop=tribes-01] a {
	background-color: #F99400
}

#theme-6 .tribes-list li[itemprop=tribes-02] {
	top: 71%;
	left: 61%
}

#theme-6 .tribes-list li[itemprop=tribes-02] a {
	background-color: #C48A66
}

#theme-6 .tribes-list li[itemprop=tribes-03] {
	top: 29%;
	left: 76%
}

#theme-6 .tribes-list li[itemprop=tribes-03] a {
	background-color: #C0A8D2
}

#theme-6 .tribes-list li[itemprop=tribes-04] {
	top: 66%;
	left: 3%
}

#theme-6 .tribes-list li[itemprop=tribes-04] a {
	background-color: #F2B41E
}

#theme-6 .tribes-list li[itemprop=tribes-05] {
	top: 15%;
	left: 25%
}

#theme-6 .tribes-list li[itemprop=tribes-05] a {
	background-color: #996EA3
}

#theme-6 .tribes-list li[itemprop=tribes-06] {
	top: 34%;
	left: 10%
}

#theme-6 .tribes-list li[itemprop=tribes-06] a {
	background-color: #415C9B
}

#theme-6 .tribes-list li[itemprop=tribes-07] {
	top: 43%;
	left: 5%
}

#theme-6 .tribes-list li[itemprop=tribes-07] a {
	background-color: #d28426
}

#theme-6 .tribes-list li[itemprop=tribes-08] {
	top: 25%;
	left: 13%
}

#theme-6 .tribes-list li[itemprop=tribes-08] a {
	background-color: #D28CB0
}

#theme-6 .tribes-list li[itemprop=tribes-09] {
	top: 57%;
	left: 73%
}

#theme-6 .tribes-list li[itemprop=tribes-09] a {
	background-color: #F07081
}

#theme-6 .tribes-list li[itemprop=tribes-10] {
	top: 47%;
	left: 72%
}

#theme-6 .tribes-list li[itemprop=tribes-10] a {
	background-color: #8CBF48
}

#theme-6 .tribes-list li[itemprop=tribes-11] {
	top: 39%;
	left: 72%
}

#theme-6 .tribes-list li[itemprop=tribes-11] a {
	background-color: #bc9532
}

#theme-6 .tribes-list li[itemprop=tribes-12] {
	top: 74%;
	left: 5%
}

#theme-6 .tribes-list li[itemprop=tribes-12] a {
	background-color: #E85A2E
}

#theme-6 .tribes-list li[itemprop=tribes-13] {
	top: 83%;
	left: 18%
}

#theme-6 .tribes-list li[itemprop=tribes-13] a {
	background-color: #9fd6d7
}

#theme-6 .tribes-list li[itemprop=tribes-14] {
	top: 85%;
	left: 67%
}

#theme-6 .tribes-list li[itemprop=tribes-14] a {
	background-color: #CBD932
}

#theme-6 .tribes-list li[itemprop=tribes-15] {
	top: 51%;
	left: -7%
}

#theme-6 .tribes-list li[itemprop=tribes-15] a {
	background-color: #f73131
}

#theme-6 .tribes-list li[itemprop=tribes-16] {
	top: 58%;
	left: 1%
}

#theme-6 .tribes-list li[itemprop=tribes-16] a {
	background-color: #58d6f4
}

#theme-7 #dots {
	position: absolute
}

#theme-7 .dot {
	fill: #0f82e4;
	stroke: none
}

#theme-7 g.active path {
	fill: #1a67b1
}

#theme-7 g.active path.hakka-zone {
	fill: #0959a8;
	stroke: #fff
}

#theme-7 path {
	fill: #87c0ed;
	stroke: #fff
}

#theme-7 .hakka-zone {
	fill: #7fd9e4;
	stroke: #fff
}

#theme-7~.tags {
	display: block;
	margin-top: 50px;
	font-size: .875rem;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px
}

#theme-7~.tags:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 10px;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #7fd9e4
}

#theme-7~.tags-2 {
	display: block;
	font-size: .875rem;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px
}

#theme-7~.tags-2:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 12px;
	width: 13px;
	height: 13px;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #0f82e4
}

#theme-7 .weather_data .icon_zone[name=C65] {
	left: 90%;
	top: 1%
}

#theme-7 .weather_data .icon_zone[name=C68] {
	left: 53%;
	top: 0
}

#theme-7 .weather_data .icon_zone[name=C10004] {
	left: 63%;
	top: 25%
}

#theme-7 .weather_data .icon_zone[name=C10018] {
	left: 37%;
	top: 2%
}

#theme-7 .weather_data .icon_zone[name=C10005] {
	left: 29%;
	top: 14%
}

#theme-7 .weather_data .icon_zone[name=C66] {
	left: 18%;
	top: 26%
}

#theme-7 .weather_data .icon_zone[name=C10008] {
	left: 55%;
	top: 46%
}

#theme-7 .weather_data .icon_zone[name=C10007] {
	left: 5%;
	top: 35%
}

#theme-7 .weather_data .icon_zone[name=C10009] {
	left: 2%;
	top: 49%
}

#theme-7 .weather_data .icon_zone[name=C67] {
	left: 0;
	top: 64%
}

#theme-7 .weather_data .icon_zone[name=C64] {
	left: 10%;
	top: 78%
}

#theme-7 .weather_data .icon_zone[name=C10013] {
	left: 24%;
	top: 91%
}

#theme-7 .weather_data .icon_zone[name=C10015] {
	left: 78%;
	top: 47%
}

#theme-7 .weather_data .icon_zone[name=C10014] {
	left: 61%;
	top: 80%
}

#theme-7 .weather_data .icon_zone[name=C10002] {
	left: 86%;
	top: 20%
}

#theme-8 {
	width: 600px;
	margin: 0 auto
}

#theme-8 svg {
	width: 100%
}

#theme-8 svg path {
	fill: #dcdcdc;
	stroke: #FFF;
	stroke-width: 1.3px;
	stroke-miterlimit: 10
}

#theme-8 svg>g.active path {
	fill: #ed929c
}

#theme-8 svg>g.active path:hover {
	fill: #e97c88
}

#theme-8 svg>g.active.warn-rain-1 path {
	fill: #d600cc
}

#theme-8 svg>g.active.warn-rain-1 path:hover {
	fill: #bd00b4
}

#theme-8 svg>g.active.warn-rain-2 path {
	fill: red
}

#theme-8 svg>g.active.warn-rain-2 path:hover {
	fill: #e60000
}

#theme-8 svg>g.active.warn-rain-3 path {
	fill: #ff8000
}

#theme-8 svg>g.active.warn-rain-3 path:hover {
	fill: #e67300
}

#theme-8 svg>g.active.warn-rain-4 path {
	fill: #ffff02
}

#theme-8 svg>g.active.warn-rain-4 path:hover {
	fill: #e7e800
}

#theme-8 svg>g.active.warn-fog path {
	fill: #97f03c
}

#theme-8 svg>g.active.warn-fog path:hover {
	fill: #8aee24
}

#theme-8 svg>g.active.warn-temperature path {
	fill: #96eaff
}

#theme-8 svg>g.active.warn-temperature path:hover {
	fill: #7de5ff
}

#theme-8 svg>g.active.warn-temperature-2 path {
	fill: #40a6ee
}

#theme-8 svg>g.active.warn-temperature-2 path:hover {
	fill: #299bec
}

#theme-8 svg>g.active.warn-temperature-3 path {
	fill: #0834bb
}

#theme-8 svg>g.active.warn-temperature-3 path:hover {
	fill: #072da3
}

#theme-8 svg>g.active.warn-wind path {
	fill: #e6e562
}

#theme-8 svg>g.active.warn-wind path:hover {
	fill: #e2e14c
}

#theme-8.inpage_map svg path {
	stroke: #333
}

#theme-8.inpage_map svg.base {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none
}

#theme-8.inpage_map svg.base path {
	fill: none
}

#theme-8.inpage_map svg.hill path {
	stroke: transparent
}

#theme-8 .explace a {
	background: #767676
}

@media (max-width:992px) {
	#theme-8 {
		display: block
	}
}

#theme-9 {
	width: 100%;
	position: relative;
	text-align: center
}

#theme-9 .weather_data {
	margin: 0;
	pointer-events: none;
	z-index: 20
}

#theme-9 .weather_data .icon_zone {
	background: #fff;
	opacity: 0
}

#theme-9 .weather_data .icon_zone.on-hover {
	opacity: 1
}

#theme-9 .weather_data .icon_zone .city {
	font-weight: 400;
	color: #1a67b1;
	margin: 0
}

#theme-9 svg {
	max-width: 100%;
	width: 448.59px;
	height: 600px
}

#theme-9 svg a {
	cursor: pointer
}

#theme-9 svg a.is-active path {
	fill: #fff59d
}

#theme-9 svg path {
	fill: transparent;
	stroke: #187ac8;
	stroke-width: 1px;
	stroke-miterlimit: 10
}

#theme-9 svg path:hover {
	fill: #fff59d
}

#theme-9 #position {
	fill: #0959a8!important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

#theme-9 #position .icon-in {
	animation-name: bounce;
	transform-origin: center bottom;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-iteration-count: infinite
}

#theme-9 #position .icon-in path {
	fill: #010840!important;
	stroke: none!important
}

@keyframes bounce {
	20%,
	53%,
	80%,
	from,
	to {
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		transform: translate3d(0, 0, 0)
	}
	40%,
	43% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -30px, 0)
	}
	70% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -15px, 0)
	}
	90% {
		transform: translate3d(0, -4px, 0)
	}
}

.UVI-icon-list {
	display: block;
	z-index: 1;
	padding: 0;
	margin: 0
}

.UVI-icon-list i {
	font-size: 2.075rem;
	position: relative;
	display: block;
	text-align: center
}

.UVI-icon-list i>span {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: .775rem;
	font-weight: 700;
	color: #222
}

.UVI-icon-list i.icon-cwb-UVI {
	font-family: icomoon
}

.UVI-icon-list i.icon-cwb-UVI.UVI-0to2 {
	color: #a7cd20
}

.UVI-icon-list i.icon-cwb-UVI.UVI-3to5 {
	color: orange
}

.UVI-icon-list i.icon-cwb-UVI.UVI-6to7 {
	color: #f39800
}

.UVI-icon-list i.icon-cwb-UVI.UVI-8to10 {
	color: #ea1904
}

.UVI-icon-list i.icon-cwb-UVI.UVI-11up {
	color: #b34fa2
}

.UVI-icon-list i.icon-cwb-UVI:before {
	content: "\e918"
}

.UVI-station {
	position: absolute;
	width: 100%;
	height: 100%
}

.UVI-station.weather_data>span {
	width: auto;
	height: auto;
	background: 0 0;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%)
}

.UVI-station.weather_data>span:after {
	display: none
}

.UVI-station.weather_data>span>.UVI-icon {
	position: static
}

.UVI-station>span {
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	background-color: #ea1904;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%
}

.UVI-station>span>.UVI-icon {
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-o-flex-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 1;
	padding: 5px;
	margin: 0;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background: -moz-linear-gradient(top, #fff 30%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(top, #fff 30%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, #fff 30%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0)
}

.UVI-station>span>.UVI-icon i {
	order: 1;
	font-size: 2.575rem;
	position: relative;
	display: block;
	text-align: center
}

.UVI-station>span>.UVI-icon i>span {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: .975rem;
	font-weight: 700;
	color: #222;
	text-shadow: #fff 0 2px, #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff -1.4px -1.4px, #fff 1.4px 1.4px, #fff 1.4px -1.4px, #fff -1.4px 1.4px
}

.UVI-station>span>.UVI-icon i.icon-cwb-UVI {
	font-family: icomoon
}

.UVI-station>span>.UVI-icon i.icon-cwb-UVI.UVI-0to2 {
	color: #a7cd20
}

.UVI-station>span>.UVI-icon i.icon-cwb-UVI.UVI-3to5 {
	color: orange
}

.UVI-station>span>.UVI-icon i.icon-cwb-UVI.UVI-6to7 {
	color: #f39800
}

.UVI-station>span>.UVI-icon i.icon-cwb-UVI.UVI-8to10 {
	color: #ea1904
}

.UVI-station>span>.UVI-icon i.icon-cwb-UVI.UVI-11up {
	color: #b34fa2
}

.UVI-station>span>.UVI-icon i.icon-cwb-UVI:before {
	content: "\e918"
}

.UVI-station>span>.UVI-icon span {
	order: 2;
	margin: 0;
	display: block;
	text-align: center;
	letter-spacing: 2px;
	font-size: .775rem;
	color: #222
}

.UVI-station>span.is_active:after {
	background-color: rgba(255, 255, 255, .5);
	width: 15px;
	height: 15px;
	border: 1px solid #fff
}

.UVI-station>span:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 3px;
	height: 3px;
	background-color: #fff;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	z-index: 0
}

.UVI-station>span[itemprop="塔塔加"],
.UVI-station>span[itemprop="屏東"],
.UVI-station>span[itemprop="彰化"],
.UVI-station>span[itemprop="斗六"],
.UVI-station>span[itemprop="朴子"],
.UVI-station>span[itemprop="板橋"],
.UVI-station>span[itemprop="桃園"],
.UVI-station>span[itemprop="橋頭"],
.UVI-station>span[itemprop="沙鹿"],
.UVI-station>span[itemprop="淡水"],
.UVI-station>span[itemprop="苗栗"],
.UVI-station>span[itemprop="阿里山"],
.UVI-station>span[itemprop="南投"] {
	background-color: #0959a8
}

.UVI-station>span[itemprop="基隆"] {
	top: 10.2%;
	left: 81%
}

.UVI-station>span[itemprop="基隆"]>a {
	top: -50px;
	left: 10px
}

.UVI-station>span[itemprop="鞍部"] {
	top: 8%;
	left: 76.5%
}

.UVI-station>span[itemprop="鞍部"]>a {
	top: -69px;
	left: -10px
}

.UVI-station>span[itemprop="淡水"] {
	top: 8.5%;
	left: 72.5%
}

.UVI-station>span[itemprop="淡水"]>a {
	top: -69px;
	left: -42px
}

.UVI-station>span[itemprop="台北"] {
	top: 11%;
	left: 74%
}

.UVI-station>span[itemprop="台北"]>a {
	top: -70px;
	left: -98px
}

.UVI-station>span[itemprop="板橋"] {
	top: 14%;
	left: 74%
}

.UVI-station>span[itemprop="板橋"]>a {
	top: -14px;
	left: 15px
}

.UVI-station>span[itemprop="桃園"] {
	top: 14%;
	left: 68%
}

.UVI-station>span[itemprop="桃園"]>a {
	top: 14px;
	left: -23px
}

.UVI-station>span[itemprop="新屋"] {
	top: 13%;
	left: 59%
}

.UVI-station>span[itemprop="新屋"]>a {
	top: -61px;
	left: -54px
}

.UVI-station>span[itemprop="新竹"] {
	top: 18%;
	left: 59%
}

.UVI-station>span[itemprop="新竹"]>a {
	top: -43px;
	left: -61px
}

.UVI-station>span[itemprop="苗栗"] {
	top: 25.5%;
	left: 52%
}

.UVI-station>span[itemprop="苗栗"]>a {
	top: -68px;
	left: -65px
}

.UVI-station>span[itemprop="沙鹿"] {
	top: 32%;
	left: 44%
}

.UVI-station>span[itemprop="沙鹿"]>a {
	top: -62px;
	left: -43px
}

.UVI-station>span[itemprop="台中"] {
	top: 36%;
	left: 47%
}

.UVI-station>span[itemprop="台中"]>a {
	top: -34px;
	left: -100px
}

.UVI-station>span[itemprop="彰化"] {
	top: 39%;
	left: 41%
}

.UVI-station>span[itemprop="彰化"]>a {
	top: 5px;
	left: -61px
}

.UVI-station>span[itemprop="南投"] {
	top: 42%;
	left: 50%
}

.UVI-station>span[itemprop="南投"]>a {
	top: 10px;
	left: 10px
}

.UVI-station>span[itemprop="日月潭"] {
	top: 40.5%;
	left: 59%
}

.UVI-station>span[itemprop="日月潭"]>a {
	top: -72px;
	left: -24px
}

.UVI-station>span[itemprop="阿里山"] {
	top: 54.5%;
	left: 53%
}

.UVI-station>span[itemprop="阿里山"]>a {
	top: -40px;
	left: -61px
}

.UVI-station>span[itemprop="玉山"] {
	top: 55%;
	left: 58%
}

.UVI-station>span[itemprop="玉山"]>a {
	top: -42px;
	left: 11px
}

.UVI-station>span[itemprop="塔塔加"] {
	top: 56%;
	left: 55%
}

.UVI-station>span[itemprop="塔塔加"]>a {
	top: 16px;
	left: -23px
}

.UVI-station>span[itemprop="斗六"] {
	top: 48%;
	left: 43%
}

.UVI-station>span[itemprop="斗六"]>a {
	top: -61px;
	left: -23px
}

.UVI-station>span[itemprop="嘉義"] {
	top: 54%;
	left: 41%
}

.UVI-station>span[itemprop="嘉義"]>a {
	top: -55px;
	left: -60px
}

.UVI-station>span[itemprop="朴子"] {
	top: 55.5%;
	left: 32%
}

.UVI-station>span[itemprop="朴子"]>a {
	top: -55px;
	left: -60px
}

.UVI-station>span[itemprop="新營"] {
	top: 59%;
	left: 36%
}

.UVI-station>span[itemprop="新營"]>a {
	top: -13px;
	left: -67px
}

.UVI-station>span[itemprop="台南"] {
	top: 66%;
	left: 33%
}

.UVI-station>span[itemprop="台南"]>a {
	top: -8px;
	left: -63px
}

.UVI-station>span[itemprop="橋頭"] {
	top: 72%;
	left: 34%
}

.UVI-station>span[itemprop="橋頭"]>a {
	top: 3px;
	left: -62px
}

.UVI-station>span[itemprop="高雄"] {
	top: 77.5%;
	left: 35%
}

.UVI-station>span[itemprop="高雄"]>a {
	top: 19px;
	left: -53px
}

.UVI-station>span[itemprop="屏東"] {
	top: 75%;
	left: 42%
}

.UVI-station>span[itemprop="屏東"]>a {
	top: 13px;
	left: -1px
}

.UVI-station>span[itemprop="恆春"] {
	top: 92%;
	left: 51%
}

.UVI-station>span[itemprop="恆春"]>a {
	top: -24px;
	left: 29px
}

.UVI-station>span[itemprop="台東"] {
	top: 73%;
	left: 62%
}

.UVI-station>span[itemprop="台東"]>a {
	top: -27px;
	left: 14px
}

.UVI-station>span[itemprop="成功"] {
	top: 64%;
	left: 70%
}

.UVI-station>span[itemprop="成功"]>a {
	top: -27px;
	left: 14px
}

.UVI-station>span[itemprop="蘭嶼"] {
	top: 89%;
	left: 73%
}

.UVI-station>span[itemprop="蘭嶼"]>a {
	top: -63px;
	left: -57px
}

.UVI-station>span[itemprop="花蓮"] {
	top: 36%;
	left: 78%
}

.UVI-station>span[itemprop="花蓮"]>a {
	top: -7px;
	left: 17px
}

.UVI-station>span[itemprop="宜蘭"] {
	top: 22%;
	left: 81%
}

.UVI-station>span[itemprop="宜蘭"]>a {
	top: -7px;
	left: 17px
}

.UVI-station>span[itemprop="馬祖"] {
	top: 13%;
	left: 13%
}

.UVI-station>span[itemprop="馬祖"]>a {
	top: -73px;
	left: -29px
}

.UVI-station>span[itemprop="金門"] {
	top: 33%;
	left: 9%
}

.UVI-station>span[itemprop="金門"]>a {
	top: -79px;
	left: -9px
}

.UVI-station>span[itemprop="澎湖"] {
	top: 52%;
	left: 9%
}

.UVI-station>span[itemprop="澎湖"]>a {
	top: -85px;
	left: 1px
}

.UVI-station>span[itemprop=KLU] {
	left: 88%;
	top: 10%
}

.UVI-station>span[itemprop=NTPC] {
	left: 76%;
	top: 4%
}

.UVI-station>span[itemprop=TPE] {
	left: 72%;
	top: 20%
}

.UVI-station>span[itemprop=TYC] {
	left: 64%;
	top: 5%
}

.UVI-station>span[itemprop=HSH] {
	left: 61%;
	top: 28%
}

.UVI-station>span[itemprop=HSC] {
	left: 53%;
	top: 13%
}

.UVI-station>span[itemprop=MAC] {
	left: 45%;
	top: 22%
}

.UVI-station>span[itemprop=TXG] {
	left: 35%;
	top: 28%
}

.UVI-station>span[itemprop=NTO] {
	left: 55%;
	top: 46%
}

.UVI-station>span[itemprop=CWH] {
	left: 30%;
	top: 38%
}

.UVI-station>span[itemprop=YUN] {
	left: 25%;
	top: 49%
}

.UVI-station>span[itemprop=CHY] {
	left: 22%;
	top: 60%
}

.UVI-station>span[itemprop=CYI] {
	left: 49%;
	top: 57%
}

.UVI-station>span[itemprop=TNN] {
	left: 28%;
	top: 71%
}

.UVI-station>span[itemprop=KHH] {
	left: 30%;
	top: 84%
}

.UVI-station>span[itemprop=PCH] {
	left: 45%;
	top: 91%
}

.UVI-station>span[itemprop=HWA] {
	left: 78%;
	top: 47%
}

.UVI-station>span[itemprop=TTT] {
	left: 61%;
	top: 80%
}

.UVI-station>span[itemprop=ILN] {
	left: 85%;
	top: 28%
}

.UVI-station>span[itemprop=PEH] {
	left: 6%;
	top: 59%
}

.UVI-station>span[itemprop=KMN] {
	left: 6%;
	top: 40%
}

.UVI-station>span[itemprop=LNN] {
	left: 18%;
	top: 20%
}

/* @media (max-width:992px) {
	.map_theme {
		display: none
	}
} */

/* 
.table-striped>.eq_list>tr.is_quake {
	background-color: #e4f3fe!important
}

.table-striped>.eq_list>tr .new {
	margin: .5rem;
	background: #f39800;
	color: #fff
} */
/* 


html[lang=en-US] .UVI-station>span[itemprop=CHY] {
	left: 19%!important;
	top: 63%!important
}

html[lang=en-US] .UVI-station>span>.UVI-icon span {
	font-size: .6rem
}

html[lang=en-US] #theme-4 .blueroute>li#pTaizhou_S {
	top: 1%!important;
	left: 48%!important
}

html[lang=en-US] #theme-4 .blueroute>li#pKeelung_S {
	top: 12.5%!important;
	left: 64%!important
}

html[lang=en-US] #theme-4 .blueroute>li#pLongdong_S {
	top: 16%!important;
	left: 68%!important
}

html[lang=en-US] #theme-4 .blueroute>li#pWushi_S {
	top: 23%!important;
	left: 65.5%!important
}

html[lang=en-US] #theme-4 .blueroute>li#pGuishandao_S {
	top: 21%!important;
	left: 72%!important
}

html[lang=en-US] .blueroute>li#pTaichung_S {
	top: 31%!important;
	left: 34%!important
}

html[lang=en-US] .blueroute>li#pKaohsiung_S {
	top: 65.5%!important;
	left: 25.5%!important
}

html[lang=en-US] .blueroute>li#pDonggang_S {
	top: 69.5%!important;
	left: 35.5%!important
}

html[lang=en-US] .blueroute>li#pMagong_S {
	top: 47%!important;
	left: 10%!important
}

html[lang=en-US] .blueroute>li#pTaitung_S {
	top: 62.5%!important;
	left: 51%!important
}

html[lang=en-US] .blueroute>li#pHualien_S {
	top: 37%!important;
	left: 63%!important
}

html[lang=en-US] .blueroute>li#pMatsu_S {
	top: 1%!important;
	left: 37%!important
}

html[lang=en-US] .blueroute>li#pShijing_S {
	top: 24%!important;
	left: 12%!important
}

html[lang=en-US] .blueroute>li#pWutong_S {
	top: 26%!important;
	left: 0!important
}

html[lang=en-US] .blueroute>li#pShijing_S {
	top: 24%!important;
	left: 13%!important
}

html[lang=en-US] #theme-4 .blueroute>li#pWutong_S {
	top: 26%!important;
	left: 1%!important
}

html[lang=en-US] .blueroute>li#pMawei_S {
	top: 4%!important;
	left: 27%!important
}

html[lang=en-US] .blueroute>li#pMatsu_S {
	top: 1%!important;
	left: 36%!important
}

html[lang=en-US] .blueroute>li#pPingtan_S {
	top: 8.5%!important;
	left: 6%!important
}

html[lang=en-US] .blueroute>li#pWutong_S {
	top: 26%!important;
	left: 0!important
}

html[lang=en-US] .blueroute>li#pShijing_S {
	top: 24%!important;
	left: 12%!important
}

html[lang=en-US] .blueroute>li#pKinmen_S {
	top: 31.5%!important;
	left: 9%!important
}

html[lang=en-US] .blueroute>li#pDongjidao_S {
	top: 56%!important;
	left: 12%!important
}

html[lang=en-US] .blueroute>li#pAnping_S {
	top: 58%!important;
	left: 27%!important
}

html[lang=en-US] .blueroute>li#pHualien_S {
	top: 37%!important;
	left: 63%!important
}

html[lang=en-US] .blueroute>li#pShiyuandao_S {
	top: 28%!important;
	left: 82%!important
} */


/* # sourceMappingURL=main-map.css.map */